In [1]:
import os, sys, json
import numpy as np
import pandas as pd
import re
import ast
from pprint import pprint



def move_working_dir_to_repo_root(repo_name="orgsync"):
    """
    Move the current working directory to the root of the repository.
    """
    current_dir = os.getcwd()
    while os.path.basename(current_dir).lower() != repo_name:
        current_dir = os.path.dirname(current_dir)
    os.chdir(current_dir)
    print("Current working directory: ", os.getcwd())

move_working_dir_to_repo_root(repo_name="orgsync")


data_dir = "data/geolocations/orgs_names_postcodes.csv"
df = pd.read_csv(data_dir)
# remove nans
df = df.dropna(subset=['postcode'])

Current working directory:  c:\Users\dec2g\GitHub\OrgSync

In [2]:
df.head(50)

,dataset,id,name,short_name,postcode,city
0,cordis,323260,nuclear decommissioning authority - nda,nda,ca24 3hu,moor row
1,cordis,219438,south west tourism limited,south west tourism,ex2 5wt,exeter
2,cordis,219438,welsh government,welsh government,cf10 3nq,cardiff
3,cordis,226103,terrasalus limited,terrasalus,le15 9el,oakham
4,cordis,282558,ol pharma partners ltd,pharmivation,sg4 7dp,weston herts
5,cordis,601714,forsite diagnostics ltd,forsite diagnostics,yo41 1lz,york
6,cordis,241839,st george's hospital medical school,NaN,sw17 0re,london
7,cordis,201720,genetic alliance uk ltd,gauk,n1 3qp,london
8,cordis,601852,fetal medicine foundation,fetal medicine found,w1g 6bg,london
9,cordis,241873,centre of the cell,centre of the cell,e1 2ab,london
10,cordis,304855,london school of hygiene and tropical medicine...,lshtm,wc1e 7ht,london
11,cordis,304855,sirigen limited,sirigen,bh24 1ap,ringwood
12,cordis,304855,fleet bioprocessing limited,fleet,rg27 8dh,hartley wintney hants
13,cordis,265396,london school of hygiene and tropical medicine...,lshtm,wc1e 7ht,london
14,cordis,602779,kws biotest limited,kws biotest limited,bs8 1td,bristol
15,cordis,241822,dr foster research ltd,dfi,ec1a 9la,london
16,cordis,304930,dando weiss & colucci limited,dac,ba2 9er,bath
17,cordis,201569,biopharma technology ltd,btl,so23 0ld,winchester
18,cordis,201569,sagentia group limited,sage,cb22 7gg,harston cambridge
19,cordis,201569,tico europe limited,tico,ct19 6hq,folkestone
20,cordis,201569,health protection agency hpa,hpa,sw1w 9sz,london
21,cordis,201569,pera innovation limited,pera,le13 opb,"melton mowbray, leicestershire"
22,cordis,201569,enigma diagnostics limited,enigma,sp4 0jq,salisbury
23,cordis,201676,childrens heart federation,chf,ec2a 3nw,london
24,cordis,267042,health protection agency hpa,hpa,sw1w 9sz,london
25,cordis,267042,department of health,dh,ls2 7ue,leeds
26,cordis,306124,lonza biologics plc,lonza,sl1 4dx,london
27,cordis,305661,moorfields eye hospital nhs foundation trust,NaN,ec1v 2pd,london
28,cordis,305661,ceratium limited,NaN,ch48 8ap,west kirby
29,cordis,306086,pno consultants limited,pno uk,sk8 6gn,cheadle hulme
30,cordis,305321,moorfields eye hospital nhs foundation trust,NaN,ec1v 2pd,london
31,cordis,306090,liverpool school of tropical medicine,NaN,l35qa,liverpool 3
32,cordis,305178,london school of hygiene and tropical medicine...,lshtm,wc1e 7ht,london
33,cordis,265970,institute of development studies,NaN,bn1 9re,brighton - falmer
34,cordis,265827,london school of hygiene and tropical medicine...,lshtm,wc1e 7ht,london
36,cordis,609607,cpl scientific publishing services ltd,cpl,rg14 1rz,newbury
37,cordis,218923,delphi diesel systems ltd,delphi diesel systems ltd,ec1a 4dd,london
49,cordis,241269,cpl scientific publishing services ltd,cpl,rg14 1rz,newbury
51,cordis,282506,centre of excellence for life sciences ltd,cels,ne12 8bx,newcastle upon tyne
52,cordis,304948,quantumdx group limited,qmdx,cr8 4ej,newcastle upon tyne
53,cordis,304948,st george's hospital medical school,NaN,sw17 0re,london
54,cordis,294428,london school of hygiene and tropical medicine...,lshtm,wc1e 7ht,london
55,cordis,294428,medical research council,mrc,w1b 1al,london
56,cordis,294682,the francis crick institute limited,the francis crick institute,nw1 1at,london
57,cordis,294682,medical research council,mrc,w1b 1al,london
58,cordis,269441,london school of economics and political science,NaN,wc2a 2ae,london
59,cordis,323145,cancer research uk lbg,cr-uk,e20 1jq,london
60,cordis,323145,the francis crick institute limited,the francis crick institute,nw1 1at,london
61,cordis,206281,cancer research uk lbg,cr-uk,e20 1jq,london
62,cordis,269440,institute for fiscal studies,ifs,wc1e 7ae,london

In [3]:
# convert postcode to lowercase
df['postcode'] = df['postcode'].str.lower()

# remove any leading or trailing whitespace
df['postcode'] = df['postcode'].str.strip()

# remove non-alphanumeric characters
df['postcode'] = df['postcode'].str.replace(r'\W+', '')

df.head()

,dataset,id,name,short_name,postcode,city
0,cordis,323260,nuclear decommissioning authority - nda,nda,ca24 3hu,moor row
1,cordis,219438,south west tourism limited,south west tourism,ex2 5wt,exeter
2,cordis,219438,welsh government,welsh government,cf10 3nq,cardiff
3,cordis,226103,terrasalus limited,terrasalus,le15 9el,oakham
4,cordis,282558,ol pharma partners ltd,pharmivation,sg4 7dp,weston herts

# Note - Some postcodes have an o instead of a 0 and we aren't catching these. We could add them back in later

In [4]:
from uk_postcodes_parsing import ukpostcode

corpus = "ca24 3hu"
parsed = ukpostcode.parse_from_corpus(corpus)[0]
print(parsed)
print(type(parsed))
print(parsed.__dict__)
# (is_in_ons_postcode_directory=True, fix_distance=0, original='ca24 3hu', postcode='CA24 3HU', incode='3HU', outcode='CA24', area='CA', district='CA24', sub_district=None, sector='CA24 3', unit='HU')

def parse(postcode):
    return ukpostcode.parse_from_corpus(postcode)

df["parsed_postcode"] = df["postcode"].apply(lambda x: parse(x)[0].__dict__ if len(parse(x))>0 else None) 

df.head(50)

Postcode(is_in_ons_postcode_directory=True, fix_distance=0, original='ca24 3hu', postcode='CA24 3HU', incode='3HU', outcode='CA24', area='CA', district='CA24', sub_district=None, sector='CA24 3', unit='HU')
<class 'uk_postcodes_parsing.ukpostcode.Postcode'>
{'original': 'ca24 3hu', 'postcode': 'CA24 3HU', 'incode': '3HU', 'outcode': 'CA24', 'area': 'CA', 'district': 'CA24', 'sub_district': None, 'sector': 'CA24 3', 'unit': 'HU', 'fix_distance': 0, 'is_in_ons_postcode_directory': True}

,dataset,id,name,short_name,postcode,city,parsed_postcode
0,cordis,323260,nuclear decommissioning authority - nda,nda,ca24 3hu,moor row,"{'original': 'ca24 3hu', 'postcode': 'CA24 3HU..."
1,cordis,219438,south west tourism limited,south west tourism,ex2 5wt,exeter,"{'original': 'ex2 5wt', 'postcode': 'EX2 5WT',..."
2,cordis,219438,welsh government,welsh government,cf10 3nq,cardiff,"{'original': 'cf10 3nq', 'postcode': 'CF10 3NQ..."
3,cordis,226103,terrasalus limited,terrasalus,le15 9el,oakham,"{'original': 'le15 9el', 'postcode': 'LE15 9EL..."
4,cordis,282558,ol pharma partners ltd,pharmivation,sg4 7dp,weston herts,"{'original': 'sg4 7dp', 'postcode': 'SG4 7DP',..."
5,cordis,601714,forsite diagnostics ltd,forsite diagnostics,yo41 1lz,york,"{'original': 'yo41 1lz', 'postcode': 'YO41 1LZ..."
6,cordis,241839,st george's hospital medical school,NaN,sw17 0re,london,"{'original': 'sw17 0re', 'postcode': 'SW17 0RE..."
7,cordis,201720,genetic alliance uk ltd,gauk,n1 3qp,london,"{'original': 'n1 3qp', 'postcode': 'N1 3QP', '..."
8,cordis,601852,fetal medicine foundation,fetal medicine found,w1g 6bg,london,"{'original': 'w1g 6bg', 'postcode': 'W1G 6BG',..."
9,cordis,241873,centre of the cell,centre of the cell,e1 2ab,london,"{'original': 'e1 2ab', 'postcode': 'E1 2AB', '..."
10,cordis,304855,london school of hygiene and tropical medicine...,lshtm,wc1e 7ht,london,"{'original': 'wc1e 7ht', 'postcode': 'WC1E 7HT..."
11,cordis,304855,sirigen limited,sirigen,bh24 1ap,ringwood,"{'original': 'bh24 1ap', 'postcode': 'BH24 1AP..."
12,cordis,304855,fleet bioprocessing limited,fleet,rg27 8dh,hartley wintney hants,"{'original': 'rg27 8dh', 'postcode': 'RG27 8DH..."
13,cordis,265396,london school of hygiene and tropical medicine...,lshtm,wc1e 7ht,london,"{'original': 'wc1e 7ht', 'postcode': 'WC1E 7HT..."
14,cordis,602779,kws biotest limited,kws biotest limited,bs8 1td,bristol,"{'original': 'bs8 1td', 'postcode': 'BS8 1TD',..."
15,cordis,241822,dr foster research ltd,dfi,ec1a 9la,london,"{'original': 'ec1a 9la', 'postcode': 'EC1A 9LA..."
16,cordis,304930,dando weiss & colucci limited,dac,ba2 9er,bath,"{'original': 'ba2 9er', 'postcode': 'BA2 9ER',..."
17,cordis,201569,biopharma technology ltd,btl,so23 0ld,winchester,"{'original': 'so23 0ld', 'postcode': 'SO23 0LD..."
18,cordis,201569,sagentia group limited,sage,cb22 7gg,harston cambridge,"{'original': 'cb22 7gg', 'postcode': 'CB22 7GG..."
19,cordis,201569,tico europe limited,tico,ct19 6hq,folkestone,"{'original': 'ct19 6hq', 'postcode': 'CT19 6HQ..."
20,cordis,201569,health protection agency hpa,hpa,sw1w 9sz,london,"{'original': 'sw1w 9sz', 'postcode': 'SW1W 9SZ..."
21,cordis,201569,pera innovation limited,pera,le13 opb,"melton mowbray, leicestershire",None
22,cordis,201569,enigma diagnostics limited,enigma,sp4 0jq,salisbury,"{'original': 'sp4 0jq', 'postcode': 'SP4 0JQ',..."
23,cordis,201676,childrens heart federation,chf,ec2a 3nw,london,"{'original': 'ec2a 3nw', 'postcode': 'EC2A 3NW..."
24,cordis,267042,health protection agency hpa,hpa,sw1w 9sz,london,"{'original': 'sw1w 9sz', 'postcode': 'SW1W 9SZ..."
25,cordis,267042,department of health,dh,ls2 7ue,leeds,"{'original': 'ls2 7ue', 'postcode': 'LS2 7UE',..."
26,cordis,306124,lonza biologics plc,lonza,sl1 4dx,london,"{'original': 'sl1 4dx', 'postcode': 'SL1 4DX',..."
27,cordis,305661,moorfields eye hospital nhs foundation trust,NaN,ec1v 2pd,london,"{'original': 'ec1v 2pd', 'postcode': 'EC1V 2PD..."
28,cordis,305661,ceratium limited,NaN,ch48 8ap,west kirby,"{'original': 'ch48 8ap', 'postcode': 'CH48 8AP..."
29,cordis,306086,pno consultants limited,pno uk,sk8 6gn,cheadle hulme,"{'original': 'sk8 6gn', 'postcode': 'SK8 6GN',..."
30,cordis,305321,moorfields eye hospital nhs foundation trust,NaN,ec1v 2pd,london,"{'original': 'ec1v 2pd', 'postcode': 'EC1V 2PD..."
31,cordis,306090,liverpool school of tropical medicine,NaN,l35qa,liverpool 3,"{'original': 'l35qa', 'postcode': 'L3 5QA', 'i..."
32,cordis,305178,london school of hygiene and tropical medicine...,lshtm,wc1e 7ht,london,"{'original': 'wc1e 7ht', 'postcode': 'WC1E 7HT..."
33,cordis,265970,institute of development studies,NaN,bn1 9re,brighton - falmer,"{'original': 'bn1 9re', 'postcode': 'BN1 9RE',..."
34,cordis,265827,london school of hygiene and tropical medicine...,lshtm,wc1e 7ht,london,"{'original': 'wc1e 7ht', 'postcode': 'WC1E 7HT..."
36,cordis,609607,cpl scientific publishing services ltd,cpl,rg14 1rz,newbury,"{'original': 'rg14 1rz', 'postcode': 'RG14 1RZ..."
37,cordis,218923,delphi diesel systems ltd,delphi diesel systems ltd,ec1a 4dd,london,"{'original': 'ec1a 4dd', 'postcode': 'EC1A 4DD..."
49,cordis,241269,cpl scientific publishing services ltd,cpl,rg14 1rz,newbury,"{'original': 'rg14 1rz', 'postcode': 'RG14 1RZ..."
51,cordis,282506,centre of excellence for life sciences ltd,cels,ne12 8bx,newcastle upon tyne,"{'original': 'ne12 8bx', 'postcode': 'NE12 8BX..."
52,cordis,304948,quantumdx group limited,qmdx,cr8 4ej,newcastle upon tyne,"{'original': 'cr8 4ej', 'postcode': 'CR8 4EJ',..."
53,cordis,304948,st george's hospital medical school,NaN,sw17 0re,london,"{'original': 'sw17 0re', 'postcode': 'SW17 0RE..."
54,cordis,294428,london school of hygiene and tropical medicine...,lshtm,wc1e 7ht,london,"{'original': 'wc1e 7ht', 'postcode': 'WC1E 7HT..."
55,cordis,294428,medical research council,mrc,w1b 1al,london,"{'original': 'w1b 1al', 'postcode': 'W1B 1AL',..."
56,cordis,294682,the francis crick institute limited,the francis crick institute,nw1 1at,london,"{'original': 'nw1 1at', 'postcode': 'NW1 1AT',..."
57,cordis,294682,medical research council,mrc,w1b 1al,london,"{'original': 'w1b 1al', 'postcode': 'W1B 1AL',..."
58,cordis,269441,london school of economics and political science,NaN,wc2a 2ae,london,"{'original': 'wc2a 2ae', 'postcode': 'WC2A 2AE..."
59,cordis,323145,cancer research uk lbg,cr-uk,e20 1jq,london,"{'original': 'e20 1jq', 'postcode': 'E20 1JQ',..."
60,cordis,323145,the francis crick institute limited,the francis crick institute,nw1 1at,london,"{'original': 'nw1 1at', 'postcode': 'NW1 1AT',..."
61,cordis,206281,cancer research uk lbg,cr-uk,e20 1jq,london,"{'original': 'e20 1jq', 'postcode': 'E20 1JQ',..."
62,cordis,269440,institute for fiscal studies,ifs,wc1e 7ae,london,"{'original': 'wc1e 7ae', 'postcode': 'WC1E 7AE..."

In [5]:
# find all entries with postcode = "CB2 1TN"
df_cb2 = df[df['postcode'] == "cb2 1tn"]
df_cb2.head(50)

,dataset,id,name,short_name,postcode,city,parsed_postcode
8503,cordis,613368,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8506,cordis,234217,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8507,cordis,617391,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8508,cordis,302490,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8509,cordis,238017,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8511,cordis,627433,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8512,cordis,251834,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8513,cordis,322140,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8514,cordis,260872,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8517,cordis,624067,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8518,cordis,339993,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8519,cordis,255262,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8520,cordis,328641,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8521,cordis,281164,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8522,cordis,619993,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8525,cordis,274406,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8526,cordis,267369,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8527,cordis,291442,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8528,cordis,620180,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8531,cordis,220261,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8532,cordis,301990,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8533,cordis,254360,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8534,cordis,220946,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8535,cordis,252120,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8536,cordis,340642,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8537,cordis,337739,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8539,cordis,263042,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8542,cordis,260961,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8543,cordis,339694,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8544,cordis,253562,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8545,cordis,614966,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8546,cordis,219332,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8547,cordis,264517,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8549,cordis,308524,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8555,cordis,267760,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8556,cordis,220851,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8557,cordis,216594,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8561,cordis,308620,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8562,cordis,339873,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8563,cordis,340538,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8565,cordis,283686,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8566,cordis,237505,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8567,cordis,303556,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8568,cordis,263206,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8579,cordis,278948,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8582,cordis,227057,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8584,cordis,601826,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8590,cordis,115008,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8594,cordis,608099,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
8597,cordis,240446,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."

In [6]:
# remove None values
df = df.dropna(subset=['parsed_postcode'])
df.head(50)

,dataset,id,name,short_name,postcode,city,parsed_postcode
0,cordis,323260,nuclear decommissioning authority - nda,nda,ca24 3hu,moor row,"{'original': 'ca24 3hu', 'postcode': 'CA24 3HU..."
1,cordis,219438,south west tourism limited,south west tourism,ex2 5wt,exeter,"{'original': 'ex2 5wt', 'postcode': 'EX2 5WT',..."
2,cordis,219438,welsh government,welsh government,cf10 3nq,cardiff,"{'original': 'cf10 3nq', 'postcode': 'CF10 3NQ..."
3,cordis,226103,terrasalus limited,terrasalus,le15 9el,oakham,"{'original': 'le15 9el', 'postcode': 'LE15 9EL..."
4,cordis,282558,ol pharma partners ltd,pharmivation,sg4 7dp,weston herts,"{'original': 'sg4 7dp', 'postcode': 'SG4 7DP',..."
5,cordis,601714,forsite diagnostics ltd,forsite diagnostics,yo41 1lz,york,"{'original': 'yo41 1lz', 'postcode': 'YO41 1LZ..."
6,cordis,241839,st george's hospital medical school,NaN,sw17 0re,london,"{'original': 'sw17 0re', 'postcode': 'SW17 0RE..."
7,cordis,201720,genetic alliance uk ltd,gauk,n1 3qp,london,"{'original': 'n1 3qp', 'postcode': 'N1 3QP', '..."
8,cordis,601852,fetal medicine foundation,fetal medicine found,w1g 6bg,london,"{'original': 'w1g 6bg', 'postcode': 'W1G 6BG',..."
9,cordis,241873,centre of the cell,centre of the cell,e1 2ab,london,"{'original': 'e1 2ab', 'postcode': 'E1 2AB', '..."
10,cordis,304855,london school of hygiene and tropical medicine...,lshtm,wc1e 7ht,london,"{'original': 'wc1e 7ht', 'postcode': 'WC1E 7HT..."
11,cordis,304855,sirigen limited,sirigen,bh24 1ap,ringwood,"{'original': 'bh24 1ap', 'postcode': 'BH24 1AP..."
12,cordis,304855,fleet bioprocessing limited,fleet,rg27 8dh,hartley wintney hants,"{'original': 'rg27 8dh', 'postcode': 'RG27 8DH..."
13,cordis,265396,london school of hygiene and tropical medicine...,lshtm,wc1e 7ht,london,"{'original': 'wc1e 7ht', 'postcode': 'WC1E 7HT..."
14,cordis,602779,kws biotest limited,kws biotest limited,bs8 1td,bristol,"{'original': 'bs8 1td', 'postcode': 'BS8 1TD',..."
15,cordis,241822,dr foster research ltd,dfi,ec1a 9la,london,"{'original': 'ec1a 9la', 'postcode': 'EC1A 9LA..."
16,cordis,304930,dando weiss & colucci limited,dac,ba2 9er,bath,"{'original': 'ba2 9er', 'postcode': 'BA2 9ER',..."
17,cordis,201569,biopharma technology ltd,btl,so23 0ld,winchester,"{'original': 'so23 0ld', 'postcode': 'SO23 0LD..."
18,cordis,201569,sagentia group limited,sage,cb22 7gg,harston cambridge,"{'original': 'cb22 7gg', 'postcode': 'CB22 7GG..."
19,cordis,201569,tico europe limited,tico,ct19 6hq,folkestone,"{'original': 'ct19 6hq', 'postcode': 'CT19 6HQ..."
20,cordis,201569,health protection agency hpa,hpa,sw1w 9sz,london,"{'original': 'sw1w 9sz', 'postcode': 'SW1W 9SZ..."
22,cordis,201569,enigma diagnostics limited,enigma,sp4 0jq,salisbury,"{'original': 'sp4 0jq', 'postcode': 'SP4 0JQ',..."
23,cordis,201676,childrens heart federation,chf,ec2a 3nw,london,"{'original': 'ec2a 3nw', 'postcode': 'EC2A 3NW..."
24,cordis,267042,health protection agency hpa,hpa,sw1w 9sz,london,"{'original': 'sw1w 9sz', 'postcode': 'SW1W 9SZ..."
25,cordis,267042,department of health,dh,ls2 7ue,leeds,"{'original': 'ls2 7ue', 'postcode': 'LS2 7UE',..."
26,cordis,306124,lonza biologics plc,lonza,sl1 4dx,london,"{'original': 'sl1 4dx', 'postcode': 'SL1 4DX',..."
27,cordis,305661,moorfields eye hospital nhs foundation trust,NaN,ec1v 2pd,london,"{'original': 'ec1v 2pd', 'postcode': 'EC1V 2PD..."
28,cordis,305661,ceratium limited,NaN,ch48 8ap,west kirby,"{'original': 'ch48 8ap', 'postcode': 'CH48 8AP..."
29,cordis,306086,pno consultants limited,pno uk,sk8 6gn,cheadle hulme,"{'original': 'sk8 6gn', 'postcode': 'SK8 6GN',..."
30,cordis,305321,moorfields eye hospital nhs foundation trust,NaN,ec1v 2pd,london,"{'original': 'ec1v 2pd', 'postcode': 'EC1V 2PD..."
31,cordis,306090,liverpool school of tropical medicine,NaN,l35qa,liverpool 3,"{'original': 'l35qa', 'postcode': 'L3 5QA', 'i..."
32,cordis,305178,london school of hygiene and tropical medicine...,lshtm,wc1e 7ht,london,"{'original': 'wc1e 7ht', 'postcode': 'WC1E 7HT..."
33,cordis,265970,institute of development studies,NaN,bn1 9re,brighton - falmer,"{'original': 'bn1 9re', 'postcode': 'BN1 9RE',..."
34,cordis,265827,london school of hygiene and tropical medicine...,lshtm,wc1e 7ht,london,"{'original': 'wc1e 7ht', 'postcode': 'WC1E 7HT..."
36,cordis,609607,cpl scientific publishing services ltd,cpl,rg14 1rz,newbury,"{'original': 'rg14 1rz', 'postcode': 'RG14 1RZ..."
37,cordis,218923,delphi diesel systems ltd,delphi diesel systems ltd,ec1a 4dd,london,"{'original': 'ec1a 4dd', 'postcode': 'EC1A 4DD..."
49,cordis,241269,cpl scientific publishing services ltd,cpl,rg14 1rz,newbury,"{'original': 'rg14 1rz', 'postcode': 'RG14 1RZ..."
51,cordis,282506,centre of excellence for life sciences ltd,cels,ne12 8bx,newcastle upon tyne,"{'original': 'ne12 8bx', 'postcode': 'NE12 8BX..."
52,cordis,304948,quantumdx group limited,qmdx,cr8 4ej,newcastle upon tyne,"{'original': 'cr8 4ej', 'postcode': 'CR8 4EJ',..."
53,cordis,304948,st george's hospital medical school,NaN,sw17 0re,london,"{'original': 'sw17 0re', 'postcode': 'SW17 0RE..."
54,cordis,294428,london school of hygiene and tropical medicine...,lshtm,wc1e 7ht,london,"{'original': 'wc1e 7ht', 'postcode': 'WC1E 7HT..."
55,cordis,294428,medical research council,mrc,w1b 1al,london,"{'original': 'w1b 1al', 'postcode': 'W1B 1AL',..."
56,cordis,294682,the francis crick institute limited,the francis crick institute,nw1 1at,london,"{'original': 'nw1 1at', 'postcode': 'NW1 1AT',..."
57,cordis,294682,medical research council,mrc,w1b 1al,london,"{'original': 'w1b 1al', 'postcode': 'W1B 1AL',..."
58,cordis,269441,london school of economics and political science,NaN,wc2a 2ae,london,"{'original': 'wc2a 2ae', 'postcode': 'WC2A 2AE..."
59,cordis,323145,cancer research uk lbg,cr-uk,e20 1jq,london,"{'original': 'e20 1jq', 'postcode': 'E20 1JQ',..."
60,cordis,323145,the francis crick institute limited,the francis crick institute,nw1 1at,london,"{'original': 'nw1 1at', 'postcode': 'NW1 1AT',..."
61,cordis,206281,cancer research uk lbg,cr-uk,e20 1jq,london,"{'original': 'e20 1jq', 'postcode': 'E20 1JQ',..."
62,cordis,269440,institute for fiscal studies,ifs,wc1e 7ae,london,"{'original': 'wc1e 7ae', 'postcode': 'WC1E 7AE..."
63,cordis,323042,cancer research uk lbg,cr-uk,e20 1jq,london,"{'original': 'e20 1jq', 'postcode': 'E20 1JQ',..."

In [7]:
df.tail()

,dataset,id,name,short_name,postcode,city,parsed_postcode
106305,gtr,01F2924C-FFB4-481B-B8F0-31234D33F0FA,university of exeter,NaN,ex4 4sb,NaN,"{'original': 'ex4 4sb', 'postcode': 'EX4 4SB',..."
106306,gtr,0433C2E4-BD74-4E19-A10F-04877DD9411B,spearhead marketing limited,NaN,cb8 8jp,NaN,"{'original': 'cb8 8jp', 'postcode': 'CB8 8JP',..."
106307,gtr,0648C484-FB54-4EE8-8AA5-0CCC73A1F54C,bgr training limited,NaN,g41 3qs,NaN,"{'original': 'g41 3qs', 'postcode': 'G41 3QS',..."
106310,gtr,0D4FDCE2-32C8-4FC1-A582-331BEE2B5C1F,disyn biotc,NaN,wa5 3pz,NaN,"{'original': 'wa5 3pz', 'postcode': 'WA5 3PZ',..."
106311,gtr,E15F7794-DE6A-4BF3-814D-075FDAE2E332,x-io technologies limited,NaN,bs4 2js,NaN,"{'original': 'bs4 2js', 'postcode': 'BS4 2JS',..."

In [8]:
# get type of parsed_postcode
print(type(df["parsed_postcode"][0]))

<class 'dict'>

In [9]:
df.tail(10)

,dataset,id,name,short_name,postcode,city,parsed_postcode
106297,gtr,DC85C5E8-F95E-48A9-B3E8-23110BF82DF9,ticker limited,NaN,gu8 6bq,NaN,"{'original': 'gu8 6bq', 'postcode': 'GU8 6BQ',..."
106298,gtr,DDBC0327-903E-4CC0-970F-231601349D9E,ekaterra r&d,NaN,mk44 1lq,NaN,"{'original': 'mk44 1lq', 'postcode': 'MK44 1LQ..."
106300,gtr,DE0B2CDD-AF6A-4E4B-83C2-0A70968D934B,hdr uk,NaN,nw1 2be,NaN,"{'original': 'nw1 2be', 'postcode': 'NW1 2BE',..."
106301,gtr,DE2A3BD5-4503-420D-AC8A-1C14E0AC401F,sartorius stedim lab limited,NaN,gl10 3ut,NaN,"{'original': 'gl10 3ut', 'postcode': 'GL10 3UT..."
106303,gtr,E17A6DDD-8D5F-4E58-8AB0-2628D5266F1E,recon waste management ltd,NaN,bt62 1ux,NaN,"{'original': 'bt62 1ux', 'postcode': 'BT62 1UX..."
106305,gtr,01F2924C-FFB4-481B-B8F0-31234D33F0FA,university of exeter,NaN,ex4 4sb,NaN,"{'original': 'ex4 4sb', 'postcode': 'EX4 4SB',..."
106306,gtr,0433C2E4-BD74-4E19-A10F-04877DD9411B,spearhead marketing limited,NaN,cb8 8jp,NaN,"{'original': 'cb8 8jp', 'postcode': 'CB8 8JP',..."
106307,gtr,0648C484-FB54-4EE8-8AA5-0CCC73A1F54C,bgr training limited,NaN,g41 3qs,NaN,"{'original': 'g41 3qs', 'postcode': 'G41 3QS',..."
106310,gtr,0D4FDCE2-32C8-4FC1-A582-331BEE2B5C1F,disyn biotc,NaN,wa5 3pz,NaN,"{'original': 'wa5 3pz', 'postcode': 'WA5 3PZ',..."
106311,gtr,E15F7794-DE6A-4BF3-814D-075FDAE2E332,x-io technologies limited,NaN,bs4 2js,NaN,"{'original': 'bs4 2js', 'postcode': 'BS4 2JS',..."

In [10]:
# rename postcode column to original_postcode
df = df.rename(columns={"postcode": "original_postcode"})
df_normalised = pd.json_normalize(df['parsed_postcode'])
df_combined = pd.concat([df.reset_index(drop=True), df_normalised.reset_index(drop=True)], axis=1)


# save
df_combined.to_csv("data/geolocations/orgs_names_postcodes_cleaned.csv", index=False)

In [11]:
df_combined.tail(50)

,dataset,id,name,short_name,original_postcode,city,parsed_postcode,original,postcode,incode,outcode,area,district,sub_district,sector,unit,fix_distance,is_in_ons_postcode_directory
72478,gtr,A623CD38-0CB2-4672-B4CB-70D35D3B0083,disruptieve ltd,NaN,ec2a 4ne,NaN,"{'original': 'ec2a 4ne', 'postcode': 'EC2A 4NE...",ec2a 4ne,EC2A 4NE,4NE,EC2A,EC,EC2,EC2A,EC2A 4,NE,0,True
72479,gtr,A8E654D3-E2CB-4730-8755-639FE48000FD,legrand electric limited,NaN,b19 2lf,NaN,"{'original': 'b19 2lf', 'postcode': 'B19 2LF',...",b19 2lf,B19 2LF,2LF,B19,B,B19,None,B19 2,LF,0,True
72480,gtr,ABA2B172-B299-4585-B5D8-601DDE5F620E,quic (uk) limited,NaN,ll13 7gw,NaN,"{'original': 'll13 7gw', 'postcode': 'LL13 7GW...",ll13 7gw,LL13 7GW,7GW,LL13,LL,LL13,None,LL13 7,GW,0,True
72481,gtr,ABE0BBA0-6595-4B2E-894B-563D5F8D9F93,grow-wellbeing cic,NaN,ch41 6nd,NaN,"{'original': 'ch41 6nd', 'postcode': 'CH41 6ND...",ch41 6nd,CH41 6ND,6ND,CH41,CH,CH41,None,CH41 6,ND,0,True
72482,gtr,ACDFD9C2-230E-4063-B9A7-1660AC7ECB99,sector health ltd,NaN,bn1 1ad,NaN,"{'original': 'bn1 1ad', 'postcode': 'BN1 1AD',...",bn1 1ad,BN1 1AD,1AD,BN1,BN,BN1,None,BN1 1,AD,0,True
72483,gtr,ACE761D4-BBA1-45BF-A495-20A7D4273204,parallel wireless uk limited,NaN,gu47 0qa,NaN,"{'original': 'gu47 0qa', 'postcode': 'GU47 0QA...",gu47 0qa,GU47 0QA,0QA,GU47,GU,GU47,None,GU47 0,QA,0,True
72484,gtr,B4915CAB-7E45-44A7-9E07-6D48D792D88E,diamond light source limited,NaN,ox11 0de,NaN,"{'original': 'ox11 0de', 'postcode': 'OX11 0DE...",ox11 0de,OX11 0DE,0DE,OX11,OX,OX11,None,OX11 0,DE,0,True
72485,gtr,B4DE2E42-A68E-4D90-B9D5-3FBDF00D0447,censis,NaN,g1 1rd,NaN,"{'original': 'g1 1rd', 'postcode': 'G1 1RD', '...",g1 1rd,G1 1RD,1RD,G1,G,G1,None,G1 1,RD,0,True
72486,gtr,F8BF467D-E283-482B-A3A3-51B1B23F8C2D,cassels farm limited,NaN,ba12 0qq,NaN,"{'original': 'ba12 0qq', 'postcode': 'BA12 0QQ...",ba12 0qq,BA12 0QQ,0QQ,BA12,BA,BA12,None,BA12 0,QQ,0,True
72487,gtr,FE006F58-88C3-40CF-A595-4FCDB3D8A21F,planning democracy,NaN,ky11 3lg,NaN,"{'original': 'ky11 3lg', 'postcode': 'KY11 3LG...",ky11 3lg,KY11 3LG,3LG,KY11,KY,KY11,None,KY11 3,LG,0,True
72488,gtr,FEDF853E-F966-4CDF-9F90-584D531B2459,isize limited,NaN,ec2v 6dn,NaN,"{'original': 'ec2v 6dn', 'postcode': 'EC2V 6DN...",ec2v 6dn,EC2V 6DN,6DN,EC2V,EC,EC2,EC2V,EC2V 6,DN,0,True
72489,gtr,FEF3563D-198D-49CD-8DBC-14FD849B4EA5,kyrexa ltd,NaN,eh4 2hs,NaN,"{'original': 'eh4 2hs', 'postcode': 'EH4 2HS',...",eh4 2hs,EH4 2HS,2HS,EH4,EH,EH4,None,EH4 2,HS,0,True
72490,gtr,02EB0FC4-0AB9-4DF1-91E2-245F1D75AD43,cyphere ltd,NaN,wa14 1es,NaN,"{'original': 'wa14 1es', 'postcode': 'WA14 1ES...",wa14 1es,WA14 1ES,1ES,WA14,WA,WA14,None,WA14 1,ES,0,True
72491,gtr,02F6BE6F-DC5D-4BD0-B02F-7ED22C4DADC2,association for physical education,NaN,wr2 6aj,NaN,"{'original': 'wr2 6aj', 'postcode': 'WR2 6AJ',...",wr2 6aj,WR2 6AJ,6AJ,WR2,WR,WR2,None,WR2 6,AJ,0,True
72492,gtr,0615709C-A5E7-4304-8512-7677A3CEB43A,health innovation yorkshire & humber,NaN,wf4 3ba,NaN,"{'original': 'wf4 3ba', 'postcode': 'WF4 3BA',...",wf4 3ba,WF4 3BA,3BA,WF4,WF,WF4,None,WF4 3,BA,0,True
72493,gtr,06BF8A31-269A-4D7E-A760-825B05CD56D2,kingston voluntary action,NaN,kt2 6lx,NaN,"{'original': 'kt2 6lx', 'postcode': 'KT2 6LX',...",kt2 6lx,KT2 6LX,6LX,KT2,KT,KT2,None,KT2 6,LX,0,True
72494,gtr,0A961377-EBA7-4D6A-8E7F-266BD2930728,sgema,NaN,sy231pu,NaN,"{'original': 'sy231pu', 'postcode': 'SY23 1PU'...",sy231pu,SY23 1PU,1PU,SY23,SY,SY23,None,SY23 1,PU,0,True
72495,gtr,0DC345FF-65A5-43F9-93C8-27438AA42B42,east malling trust,NaN,me19 6dz,NaN,"{'original': 'me19 6dz', 'postcode': 'ME19 6DZ...",me19 6dz,ME19 6DZ,6DZ,ME19,ME,ME19,None,ME19 6,DZ,0,True
72496,gtr,0F608F03-3030-4038-A1F1-7A306A9E707A,intellithing ltd,NaN,m3 3aq,NaN,"{'original': 'm3 3aq', 'postcode': 'M3 3AQ', '...",m3 3aq,M3 3AQ,3AQ,M3,M,M3,None,M3 3,AQ,0,True
72497,gtr,107C8966-77AE-4056-B9C4-175255D72CFF,kruiz ltd,NaN,nw4 3rs,NaN,"{'original': 'nw4 3rs', 'postcode': 'NW4 3RS',...",nw4 3rs,NW4 3RS,3RS,NW4,NW,NW4,None,NW4 3,RS,0,True
72498,gtr,10F99415-F907-4978-928D-415F527118B9,mozarto ltd,NaN,ip12 3ap,NaN,"{'original': 'ip12 3ap', 'postcode': 'IP12 3AP...",ip12 3ap,IP12 3AP,3AP,IP12,IP,IP12,None,IP12 3,AP,0,True
72499,gtr,11780B3C-878F-4D0F-BADE-27EFDE2683B8,nexam st andrews ltd,NaN,ky15 4rd,NaN,"{'original': 'ky15 4rd', 'postcode': 'KY15 4RD...",ky15 4rd,KY15 4RD,4RD,KY15,KY,KY15,None,KY15 4,RD,0,True
72500,gtr,12201365-48A7-404E-93EB-46FAB802C7A6,clean air limited,NaN,bl4 7bh,NaN,"{'original': 'bl4 7bh', 'postcode': 'BL4 7BH',...",bl4 7bh,BL4 7BH,7BH,BL4,BL,BL4,None,BL4 7,BH,0,True
72501,gtr,47155B33-22BF-4F80-A5BD-7E9029AC7F69,gedling borough council,NaN,ng5 6lu,NaN,"{'original': 'ng5 6lu', 'postcode': 'NG5 6LU',...",ng5 6lu,NG5 6LU,6LU,NG5,NG,NG5,None,NG5 6,LU,0,True
72502,gtr,4A134B47-6888-49BB-A75C-744DBE452279,goodrich controls holding limited,NaN,b90 4ss,NaN,"{'original': 'b90 4ss', 'postcode': 'B90 4SS',...",b90 4ss,B90 4SS,4SS,B90,B,B90,None,B90 4,SS,0,True
72503,gtr,4D604A2D-158A-47C6-BAA5-24E5143C766A,mechanimal arts cic,NaN,bs6 7dt,NaN,"{'original': 'bs6 7dt', 'postcode': 'BS6 7DT',...",bs6 7dt,BS6 7DT,7DT,BS6,BS,BS6,None,BS6 7,DT,0,True
72504,gtr,5301DD13-F642-482A-BFD8-41F67E0C4564,arc v ltd,NaN,cv8 3fx,NaN,"{'original': 'cv8 3fx', 'postcode': 'CV8 3FX',...",cv8 3fx,CV8 3FX,3FX,CV8,CV,CV8,None,CV8 3,FX,0,True
72505,gtr,546BDAAC-61A1-47C0-9CF4-4D68E4642A5C,smedvig capital limited,NaN,sw1a 1rd,NaN,"{'original': 'sw1a 1rd', 'postcode': 'SW1A 1RD...",sw1a 1rd,SW1A 1RD,1RD,SW1A,SW,SW1,SW1A,SW1A 1,RD,0,True
72506,gtr,58235F37-674E-44B5-92B6-18289205AB38,edinburgh chamber of commerce,NaN,eh2 2le,NaN,"{'original': 'eh2 2le', 'postcode': 'EH2 2LE',...",eh2 2le,EH2 2LE,2LE,EH2,EH,EH2,None,EH2 2,LE,0,True
72507,gtr,5945336E-FC42-425E-8AD7-2C3D5B75D92B,environcom england ltd,NaN,ng31 7uh,NaN,"{'original': 'ng31 7uh', 'postcode': 'NG31 7UH...",ng31 7uh,NG31 7UH,7UH,NG31,NG,NG31,None,NG31 7,UH,0,True
72508,gtr,5E17A35C-3D60-4EA1-A8EB-41C4EFF9BAE0,therme group services (uk) limited,NaN,w1k 6we,NaN,"{'original': 'w1k 6we', 'postcode': 'W1K 6WE',...",w1k 6we,W1K 6WE,6WE,W1K,W,W1,W1K,W1K 6,WE,0,True
72509,gtr,5F2EFFDB-D246-493A-8AFE-455A2C193C3B,plastometrex ltd,NaN,cb4 0gz,NaN,"{'original': 'cb4 0gz', 'postcode': 'CB4 0GZ',...",cb4 0gz,CB4 0GZ,0GZ,CB4,CB,CB4,None,CB4 0,GZ,0,True
72510,gtr,63B27C18-ED7F-49BB-825D-2FD3041AB95F,sub 10 ltd,NaN,ne8 3df,NaN,"{'original': 'ne8 3df', 'postcode': 'NE8 3DF',...",ne8 3df,NE8 3DF,3DF,NE8,NE,NE8,None,NE8 3,DF,0,True
72511,gtr,64937B78-901D-4214-99DB-7A58AB3AE9E6,thistle rocketry ltd,NaN,td1 3te,NaN,"{'original': 'td1 3te', 'postcode': 'TD1 3TE',...",td1 3te,TD1 3TE,3TE,TD1,TD,TD1,None,TD1 3,TE,0,True
72512,gtr,64D0C825-E6B4-4965-8D18-228F95113DC1,police service of northern ireland,NaN,bt5 6le,NaN,"{'original': 'bt5 6le', 'postcode': 'BT5 6LE',...",bt5 6le,BT5 6LE,6LE,BT5,BT,BT5,None,BT5 6,LE,0,True
72513,gtr,68FC6412-9529-4DA9-BF93-743D66D6B93E,teki cognitive technology limited,NaN,sk4 3ea,NaN,"{'original': 'sk4 3ea', 'postcode': 'SK4 3EA',...",sk4 3ea,SK4 3EA,3EA,SK4,SK,SK4,None,SK4 3,EA,0,True
72514,gtr,CCD9546F-AE2C-42D7-B089-2794747D4444,age uk gloucestershire,NaN,gl4 3rt,NaN,"{'original': 'gl4 3rt', 'postcode': 'GL4 3RT',...",gl4 3rt,GL4 3RT,3RT,GL4,GL,GL4,None,GL4 3,RT,0,True
72515,gtr,CF79993A-AC8E-4B38-8884-22D44A75DF07,mednet limited,NaN,ls6 2al,NaN,"{'original': 'ls6 2al', 'postcode': 'LS6 2AL',...",ls6 2al,LS6 2AL,2AL,LS6,LS,LS6,None,LS6 2,AL,0,True
72516,gtr,D69E9E0D-D363-42C3-B3D7-1283130229EF,health improvement dept,NaN,ml8 5er,NaN,"{'original': 'ml8 5er', 'postcode': 'ML8 5ER',...",ml8 5er,ML8 5ER,5ER,ML8,ML,ML8,None,ML8 5,ER,0,False
72517,gtr,D82C2CEE-07CD-47FA-8711-2A514C46CCDA,seaweed energy ltd,NaN,dd10 8sw,NaN,"{'original': 'dd10 8sw', 'postcode': 'DD10 8SW...",dd10 8sw,DD10 8SW,8SW,DD10,DD,DD10,None,DD10 8,SW,0,True
72518,gtr,DC85C5E8-F95E-48A9-B3E8-23110BF82DF9,ticker limited,NaN,gu8 6bq,NaN,"{'original': 'gu8 6bq', 'postcode': 'GU8 6BQ',...",gu8 6bq,GU8 6BQ,6BQ,GU8,GU,GU8,None,GU8 6,BQ,0,True
72519,gtr,DDBC0327-903E-4CC0-970F-231601349D9E,ekaterra r&d,NaN,mk44 1lq,NaN,"{'original': 'mk44 1lq', 'postcode': 'MK44 1LQ...",mk44 1lq,MK44 1LQ,1LQ,MK44,MK,MK44,None,MK44 1,LQ,0,True
72520,gtr,DE0B2CDD-AF6A-4E4B-83C2-0A70968D934B,hdr uk,NaN,nw1 2be,NaN,"{'original': 'nw1 2be', 'postcode': 'NW1 2BE',...",nw1 2be,NW1 2BE,2BE,NW1,NW,NW1,None,NW1 2,BE,0,True
72521,gtr,DE2A3BD5-4503-420D-AC8A-1C14E0AC401F,sartorius stedim lab limited,NaN,gl10 3ut,NaN,"{'original': 'gl10 3ut', 'postcode': 'GL10 3UT...",gl10 3ut,GL10 3UT,3UT,GL10,GL,GL10,None,GL10 3,UT,0,True
72522,gtr,E17A6DDD-8D5F-4E58-8AB0-2628D5266F1E,recon waste management ltd,NaN,bt62 1ux,NaN,"{'original': 'bt62 1ux', 'postcode': 'BT62 1UX...",bt62 1ux,BT62 1UX,1UX,BT62,BT,BT62,None,BT62 1,UX,0,True
72523,gtr,01F2924C-FFB4-481B-B8F0-31234D33F0FA,university of exeter,NaN,ex4 4sb,NaN,"{'original': 'ex4 4sb', 'postcode': 'EX4 4SB',...",ex4 4sb,EX4 4SB,4SB,EX4,EX,EX4,None,EX4 4,SB,0,True
72524,gtr,0433C2E4-BD74-4E19-A10F-04877DD9411B,spearhead marketing limited,NaN,cb8 8jp,NaN,"{'original': 'cb8 8jp', 'postcode': 'CB8 8JP',...",cb8 8jp,CB8 8JP,8JP,CB8,CB,CB8,None,CB8 8,JP,0,True
72525,gtr,0648C484-FB54-4EE8-8AA5-0CCC73A1F54C,bgr training limited,NaN,g41 3qs,NaN,"{'original': 'g41 3qs', 'postcode': 'G41 3QS',...",g41 3qs,G41 3QS,3QS,G41,G,G41,None,G41 3,QS,0,True
72526,gtr,0D4FDCE2-32C8-4FC1-A582-331BEE2B5C1F,disyn biotc,NaN,wa5 3pz,NaN,"{'original': 'wa5 3pz', 'postcode': 'WA5 3PZ',...",wa5 3pz,WA5 3PZ,3PZ,WA5,WA,WA5,None,WA5 3,PZ,0,True
72527,gtr,E15F7794-DE6A-4BF3-814D-075FDAE2E332,x-io technologies limited,NaN,bs4 2js,NaN,"{'original': 'bs4 2js', 'postcode': 'BS4 2JS',...",bs4 2js,BS4 2JS,2JS,BS4,BS,BS4,None,BS4 2,JS,0,True

In [12]:
# find all entries with postcode = "CB2 1TN"
df_cb2 = df_combined[df_combined['postcode'] == "CB2 1TN"]
df_cb2.head()

,dataset,id,name,short_name,original_postcode,city,parsed_postcode,original,postcode,incode,outcode,area,district,sub_district,sector,unit,fix_distance,is_in_ons_postcode_directory
8386,cordis,613368,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',...",cb2 1tn,CB2 1TN,1TN,CB2,CB,CB2,None,CB2 1,TN,0,True
8389,cordis,234217,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',...",cb2 1tn,CB2 1TN,1TN,CB2,CB,CB2,None,CB2 1,TN,0,True
8390,cordis,617391,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',...",cb2 1tn,CB2 1TN,1TN,CB2,CB,CB2,None,CB2 1,TN,0,True
8391,cordis,302490,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',...",cb2 1tn,CB2 1TN,1TN,CB2,CB,CB2,None,CB2 1,TN,0,True
8392,cordis,238017,the chancellor masters and scholars of the uni...,NaN,cb2 1tn,cambridge,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',...",cb2 1tn,CB2 1TN,1TN,CB2,CB,CB2,None,CB2 1,TN,0,True

# We can now look at the organisations with postcodes that specify sub_distict and those that don't.
Those that don't are likely to be rough approximations of the location of the organisation. We can also match on incode, outcode, area, district and subdistrict. 

We can also see in "is_in_ons_postcode_directory" whether a postcode is no longer in use (will be set to False). Could indicate an org has moved. 

Now we can try matching...
1. Get df_id_postcode = df["id", "postcode"]

Get list of ids for each postcode

In [13]:
df_id_pc = df_combined[["id", "postcode"]].copy()

df_grouped = df_id_pc.groupby("postcode")["id"].apply(list).reset_index(name="org_ids")
df_grouped.head(50)

    postcode                                            org_ids
0     A9 2VW             [6B678B02-3DAB-41F1-BA5E-54B510304C7F]
1     A9 8HF             [F971E743-BECD-4A6A-B547-8E26C6F7C2EB]
2    AA1 1AA             [B439F284-54EB-4933-BA31-3797FBE211CC]
3   AB10 1AB  [7ED73A50-A205-49E0-A635-2CB09B1555E3, 4BD11E7...
4   AB10 1BL             [825A0B07-A723-4AFE-BF05-03B79719FA6E]
5   AB10 1DQ     [673664, 0EB554AB-6EC9-4283-ACF2-28165A3D5CA8]
6   AB10 1FE             [77944907-3066-483B-A141-EB76BCBB0814]
7   AB10 1FQ             [F8C26AE4-AC08-4020-BA02-111087D5AC4F]
8   AB10 1FR  [2C2EF413-6B81-4F48-BE30-58F0BF3291F0, D2CEE12...
9   AB10 1FW  [196C380E-218E-4E8B-89DA-1B84D05AD536, C1FBF68...
10  AB10 1FY  [303467, 278192, 621228, 690713, 671426, 73558...
11  AB10 1HA  [101084321, B6392179-08BD-4FB2-9C7F-87140CD20E...
12  AB10 1JB             [7E031366-35DD-4B5D-A72E-2B81E97A9250]
13  AB10 1NN             [A0054543-2523-45ED-9745-59CA7FE5EC7C]
14  AB10 1PE             [30D436E1-5359-48CD-A0F7-7A957ADD5A24]
15  AB10 1QR             [707AFF28-83A4-487C-8401-2BD061652583]
16  AB10 1RH             [F4A7EE01-4926-4E8A-90D6-6C903344D3D8]
17  AB10 1RS             [27B90F72-188A-4B2A-8D46-D2193086EB7D]
18  AB10 1SL             [00098646-8661-4B73-85B6-FD1EE8D5220C]
19  AB10 1TN             [502793F1-9095-4554-AEF9-C01FEE1B57B9]
20  AB10 1UP  [2C81420E-9DC4-4EF1-A779-8DB811235D40, 18C433C...
21  AB10 1UQ                                           [697172]
22  AB10 1UR             [28B7EA00-341F-41ED-BDC2-94C28BA58F23]
23  AB10 1UT             [85F6F163-D64C-498B-BB32-52C97ACC2D9C]
24  AB10 1XE  [172BB150-C3D5-4F10-8149-172C0F8090EC, F0B2AE2...
25  AB10 1XL  [36ED1E06-263F-4913-BBB2-990EDA6E2542, A105F5B...
26  AB10 1YG                                           [289032]
27  AB10 1YL  [101096522, 7B44B5B1-6C50-4AD3-9F04-2E348F1861...
28  AB10 1YP             [3D87BE7C-8040-4451-9CE7-CE39EF58F869]
29  AB10 6BZ                                        [101073271]
30  AB10 6SD  [98F58B8D-7179-4670-8BCD-0693715E28B8, 98044B2...
31  AB10 6XU             [D9F4DA5F-7FC1-4E71-9E2F-8E7B49A751BF]
32  AB10 7AQ             [0B8AC3F6-6B20-40DF-8E68-D529D282625A]
33  AB10 7FY             [43E02C7B-E0BA-41C0-B0F9-10DA85A42234]
34  AB10 7GJ             [319408CA-1B02-40C7-B669-C19196F28783]
35  AB10 7QB  [610725, 247590, 262646, 288570, 690713, 10102...
36  AB10 7QD             [ADCC46B3-C7CC-40DC-B026-3E7E533693F8]
37  AB11 1XX             [6FE96909-786E-467D-AC9C-E1BCE06954EC]
38  AB11 5BN             [E3B134F3-4554-4943-83AB-854D43FF9625]
39  AB11 5BS  [6DA0EACF-1A2C-48B1-BB52-121F496A41F1, 3D09868...
40  AB11 5BY             [3C98A98E-9970-48D6-8EC8-660ED1AEDCE8]
41  AB11 5DP             [5E936AF4-9FC3-4020-B28A-30C39E6F8064]
42  AB11 5EE             [E31D8449-1CE4-4901-AC17-012FB0277628]
43  AB11 5PJ             [25C61E80-1C9D-4012-AFF1-9BCBA570B64F]
44  AB11 5PW             [41E6C388-5DF3-40F4-948D-A9DC8F2F2540]
45  AB11 5QP             [8AC5634D-0F2C-459B-B014-73B6A9403C5D]
46  AB11 5RL             [8FA0BDB8-2B69-43EE-ACBA-AE25C7C4A99C]
47  AB11 5SS  [690713, 538EFD3B-D8AF-4B06-BB0E-122E58E65FEF,...
48  AB11 6AZ             [66C64427-39F7-4657-B6B1-C964957A9BB7]
49  AB11 6DB  [8C180375-74FB-4834-B10C-566EB62EC5FD, 1B66964...

remove any postcodes with less than 2 ids

In [14]:
# remove any postcodes with less than 2 ids
df_grouped = df_grouped[df_grouped["org_ids"].apply(lambda x: len(x) > 1)]

In [15]:
df_grouped.head()

    postcode                                            org_ids
3   AB10 1AB  [7ED73A50-A205-49E0-A635-2CB09B1555E3, 4BD11E7...
5   AB10 1DQ     [673664, 0EB554AB-6EC9-4283-ACF2-28165A3D5CA8]
8   AB10 1FR  [2C2EF413-6B81-4F48-BE30-58F0BF3291F0, D2CEE12...
9   AB10 1FW  [196C380E-218E-4E8B-89DA-1B84D05AD536, C1FBF68...
10  AB10 1FY  [303467, 278192, 621228, 690713, 671426, 73558...

In [16]:
# what postcode has the most ids and how many does it have?
max_ids = df_grouped["org_ids"].apply(len).max()
max_ids_postcode = df_grouped[df_grouped["org_ids"].apply(len) == max_ids]
print(max_ids)
print(max_ids_postcode)

1621
     postcode                                            org_ids
3399  CB2 1TN  [613368, 234217, 617391, 302490, 238017, 62743...

# One cambridge postcode has like 1000 ids... not sure why

Next step is to look within those groups and see if there are multiple org names. 

Similarly, groupby org names, and look for different postcodes.