In [145]:
import os, sys, json
import numpy as np
import pandas as pd
import re
import ast
from pprint import pprint



def move_working_dir_to_repo_root(repo_name="orgsync"):
    """
    Move the current working directory to the root of the repository.
    """
    current_dir = os.getcwd()
    while os.path.basename(current_dir).lower() != repo_name:
        current_dir = os.path.dirname(current_dir)
    os.chdir(current_dir)
    print("Current working directory: ", os.getcwd())

move_working_dir_to_repo_root(repo_name="orgsync")


data_dir = "data/geolocations/orgs_names_postcodes.csv"
df = pd.read_csv(data_dir)
# remove nans
df = df.dropna(subset=['postcode'])

Current working directory:  c:\Users\dec2g\GitHub\OrgSync

In [146]:
df.head(50)

,dataset,id,name,short_name,postcode,city
0,cordis,323260,nuclear decommissioning authority - nda,nda,ca24 3hu,moor row
1,cordis,219438,south west tourism limited,south west tourism,ex2 5wt,exeter
2,cordis,219438,welsh government,welsh government,cf10 3nq,cardiff
3,cordis,226103,terrasalus limited,terrasalus,le15 9el,oakham
4,cordis,282558,ol pharma partners ltd,pharmivation,sg4 7dp,weston herts
5,cordis,601714,forsite diagnostics ltd,forsite diagnostics,yo41 1lz,york
6,cordis,241839,st george's hospital medical school,NaN,sw17 0re,london
7,cordis,201720,genetic alliance uk ltd,gauk,n1 3qp,london
8,cordis,601852,fetal medicine foundation,fetal medicine found,w1g 6bg,london
9,cordis,241873,centre of the cell,centre of the cell,e1 2ab,london
10,cordis,304855,london school of hygiene and tropical medicine...,lshtm,wc1e 7ht,london
11,cordis,304855,sirigen limited,sirigen,bh24 1ap,ringwood
12,cordis,304855,fleet bioprocessing limited,fleet,rg27 8dh,hartley wintney hants
13,cordis,265396,london school of hygiene and tropical medicine...,lshtm,wc1e 7ht,london
14,cordis,602779,kws biotest limited,kws biotest limited,bs8 1td,bristol
15,cordis,241822,dr foster research ltd,dfi,ec1a 9la,london
16,cordis,304930,dando weiss & colucci limited,dac,ba2 9er,bath
17,cordis,201569,biopharma technology ltd,btl,so23 0ld,winchester
18,cordis,201569,sagentia group limited,sage,cb22 7gg,harston cambridge
19,cordis,201569,tico europe limited,tico,ct19 6hq,folkestone
20,cordis,201569,health protection agency hpa,hpa,sw1w 9sz,london
21,cordis,201569,pera innovation limited,pera,le13 opb,"melton mowbray, leicestershire"
22,cordis,201569,enigma diagnostics limited,enigma,sp4 0jq,salisbury
23,cordis,201676,childrens heart federation,chf,ec2a 3nw,london
24,cordis,267042,health protection agency hpa,hpa,sw1w 9sz,london
25,cordis,267042,department of health,dh,ls2 7ue,leeds
26,cordis,306124,lonza biologics plc,lonza,sl1 4dx,london
27,cordis,305661,moorfields eye hospital nhs foundation trust,NaN,ec1v 2pd,london
28,cordis,305661,ceratium limited,NaN,ch48 8ap,west kirby
29,cordis,306086,pno consultants limited,pno uk,sk8 6gn,cheadle hulme
30,cordis,305321,moorfields eye hospital nhs foundation trust,NaN,ec1v 2pd,london
31,cordis,306090,liverpool school of tropical medicine,NaN,l35qa,liverpool 3
32,cordis,305178,london school of hygiene and tropical medicine...,lshtm,wc1e 7ht,london
33,cordis,265970,institute of development studies,NaN,bn1 9re,brighton - falmer
34,cordis,265827,london school of hygiene and tropical medicine...,lshtm,wc1e 7ht,london
36,cordis,609607,cpl scientific publishing services ltd,cpl,rg14 1rz,newbury
37,cordis,218923,delphi diesel systems ltd,delphi diesel systems ltd,ec1a 4dd,london
49,cordis,241269,cpl scientific publishing services ltd,cpl,rg14 1rz,newbury
51,cordis,282506,centre of excellence for life sciences ltd,cels,ne12 8bx,newcastle upon tyne
52,cordis,304948,quantumdx group limited,qmdx,cr8 4ej,newcastle upon tyne
53,cordis,304948,st george's hospital medical school,NaN,sw17 0re,london
54,cordis,294428,london school of hygiene and tropical medicine...,lshtm,wc1e 7ht,london
55,cordis,294428,medical research council,mrc,w1b 1al,london
56,cordis,294682,the francis crick institute limited,the francis crick institute,nw1 1at,london
57,cordis,294682,medical research council,mrc,w1b 1al,london
58,cordis,269441,london school of economics and political science,NaN,wc2a 2ae,london
59,cordis,323145,cancer research uk lbg,cr-uk,e20 1jq,london
60,cordis,323145,the francis crick institute limited,the francis crick institute,nw1 1at,london
61,cordis,206281,cancer research uk lbg,cr-uk,e20 1jq,london
62,cordis,269440,institute for fiscal studies,ifs,wc1e 7ae,london

In [147]:
# convert postcode to lowercase
df['postcode'] = df['postcode'].str.lower()

# remove any leading or trailing whitespace
df['postcode'] = df['postcode'].str.strip()

# remove non-alphanumeric characters
df['postcode'] = df['postcode'].str.replace(r'\W+', '')

df = df[df["dataset"] == "gtr"].copy()

df.head()

,dataset,id,name,short_name,postcode,city
37245,gtr,5331B126-3AB4-4412-B56D-00E8F2796556,newcastle city council,NaN,ne1 8qh,NaN
37246,gtr,53331120-0290-49FA-A513-0286A214AF7A,valerann uk limited,NaN,mk14 6gd,NaN
37248,gtr,77908BF8-1B2D-4D26-9119-155100E8B9C5,mindray,NaN,pe29 6fn,NaN
37249,gtr,7794C645-9CC7-4913-A8DC-103AE0EFDD4B,democracy international,NaN,20814,NaN
37251,gtr,53474E16-DA35-4007-9F07-1B6C0F32BBF6,licx uk limited,NaN,hp7 0ut,NaN

# NOTE - I'm just looking at Gtr at this point but we can remove `df = df[df["dataset"] == "GtR"]` to look at all postcodes

# Note - Some postcodes have an o instead of a 0 and we aren't catching these. We could add them back in later

In [148]:
from uk_postcodes_parsing import ukpostcode

# corpus = "ca24 3hu"
# parsed = ukpostcode.parse_from_corpus(corpus)[0]
# print(parsed)
# print(type(parsed))
# print(parsed.__dict__)
# (is_in_ons_postcode_directory=True, fix_distance=0, original='ca24 3hu', postcode='CA24 3HU', incode='3HU', outcode='CA24', area='CA', district='CA24', sub_district=None, sector='CA24 3', unit='HU')

def parse(postcode):
    return ukpostcode.parse_from_corpus(postcode)

df["parsed_postcode"] = df["postcode"].apply(lambda x: parse(x)[0].__dict__ if len(parse(x))>0 else None) 

df.head(50)

,dataset,id,name,short_name,postcode,city,parsed_postcode
37245,gtr,5331B126-3AB4-4412-B56D-00E8F2796556,newcastle city council,NaN,ne1 8qh,NaN,"{'original': 'ne1 8qh', 'postcode': 'NE1 8QH',..."
37246,gtr,53331120-0290-49FA-A513-0286A214AF7A,valerann uk limited,NaN,mk14 6gd,NaN,"{'original': 'mk14 6gd', 'postcode': 'MK14 6GD..."
37248,gtr,77908BF8-1B2D-4D26-9119-155100E8B9C5,mindray,NaN,pe29 6fn,NaN,"{'original': 'pe29 6fn', 'postcode': 'PE29 6FN..."
37249,gtr,7794C645-9CC7-4913-A8DC-103AE0EFDD4B,democracy international,NaN,20814,NaN,None
37251,gtr,53474E16-DA35-4007-9F07-1B6C0F32BBF6,licx uk limited,NaN,hp7 0ut,NaN,"{'original': 'hp7 0ut', 'postcode': 'HP7 0UT',..."
37252,gtr,5370084A-BDBF-4A7B-8E02-09B7DE95D01B,panitek power limited,NaN,ec1v 2nx,NaN,"{'original': 'ec1v 2nx', 'postcode': 'EC1V 2NX..."
37253,gtr,53700B68-0910-469D-A0CB-18A3316DF3F2,agency for healthcare research and quality,NaN,unspecified,NaN,None
37254,gtr,537D521C-3D73-458B-A054-196982ADD766,control developments (uk) ltd,NaN,ox29 4pu,NaN,"{'original': 'ox29 4pu', 'postcode': 'OX29 4PU..."
37255,gtr,538761FB-F8B6-4799-9ADA-02F4EF15E8B3,university of santo tomas,NaN,1008,NaN,None
37256,gtr,538EFD3B-D8AF-4B06-BB0E-122E58E65FEF,aberdeen harbour board,NaN,ab11 5ss,NaN,"{'original': 'ab11 5ss', 'postcode': 'AB11 5SS..."
37258,gtr,5396B4CA-422A-4ACB-88AC-1BF02F1D28D3,ak industries limited,NaN,hr2 6jq,NaN,"{'original': 'hr2 6jq', 'postcode': 'HR2 6JQ',..."
37259,gtr,53976912-3F5A-4744-95C5-064AB2C12A67,joseph fourier university,NaN,f-38026,NaN,None
37260,gtr,5398E19C-4A38-4777-9DB1-0224648914E0,kool zone limited,NaN,rg9 1nx,NaN,"{'original': 'rg9 1nx', 'postcode': 'RG9 1NX',..."
37261,gtr,53A5E511-5AF1-4968-9003-017A4654CDDF,perth and kinross council,NaN,unknown,NaN,None
37262,gtr,53AB545D-9946-4C47-B670-07AA591E9CFF,3d merchandising limited,NaN,bb1 1hw,NaN,"{'original': 'bb1 1hw', 'postcode': 'BB1 1HW',..."
37263,gtr,53BA34F0-E638-4982-9838-0A95057E307C,interactive scientific limited,NaN,bs5 0by,NaN,"{'original': 'bs5 0by', 'postcode': 'BS5 0BY',..."
37265,gtr,53EB396D-86D6-493A-B369-050AE65964DC,streetbook limited,NaN,unknown,NaN,None
37266,gtr,C61A8110-0095-4677-B44D-095010520FEE,cornish metals (international),NaN,v6c 1h2,NaN,None
37267,gtr,C65374AD-00FC-4195-BDD5-07FB22FDCAFE,garton engineering,NaN,ws10 9rf,NaN,"{'original': 'ws10 9rf', 'postcode': 'WS10 9RF..."
37269,gtr,C66ED940-54F4-4A72-862F-0FE53B35AB91,thermo fisher (redundant 2),NaN,pa4 9rf,NaN,"{'original': 'pa4 9rf', 'postcode': 'PA4 9RF',..."
37270,gtr,C67E7D74-CEE3-48EF-BF9D-17642869D974,kennesaw state university,NaN,unspecified,NaN,None
37271,gtr,C6803337-5F06-468F-8C40-0E72569F2A65,esma memory site museum,NaN,8151,NaN,None
37272,gtr,C689E969-03F8-4474-87CA-1B328652F1E9,hatfield house,NaN,al9 5nq,NaN,"{'original': 'al9 5nq', 'postcode': 'AL9 5NQ',..."
37273,gtr,C69C6D0B-7290-42A2-A9DB-01E2A9FEAFE8,7 layer solutions limited,NaN,gl50 3dt,NaN,"{'original': 'gl50 3dt', 'postcode': 'GL50 3DT..."
37274,gtr,C6AE248D-B9BC-4699-930A-0B93D8D3D17C,smartbox assistive technology limited,NaN,wr14 3hd,NaN,"{'original': 'wr14 3hd', 'postcode': 'WR14 3HD..."
37275,gtr,C6CF6DCE-7AF7-491C-9026-08C915D4EF16,ptc inc.,NaN,02210,NaN,None
37276,gtr,C6D80C9C-1A93-45D6-B66C-005E80E440D2,3d scanners (uk) limited,NaN,cv1 2tt,NaN,"{'original': 'cv1 2tt', 'postcode': 'CV1 2TT',..."
37278,gtr,C71C7957-CBB3-42A3-BD6F-0E94AED96EFA,natural voice network,NaN,s10 4dp,NaN,"{'original': 's10 4dp', 'postcode': 'S10 4DP',..."
37279,gtr,C735D86D-A45F-45A6-8290-0F5E72793D0E,university of puerto rico,NaN,00931-3345,NaN,None
37280,gtr,C77749C7-2323-4D32-B276-0DFF4D639B7B,nova southeastern university,NaN,fl 33314 7,NaN,None
37281,gtr,C77D1065-12E2-49B1-8E8D-0D77999A644F,pilkington united kingdom limited,NaN,l40 5uf,NaN,"{'original': 'l40 5uf', 'postcode': 'L40 5UF',..."
37282,gtr,C78D6FA9-C2C7-4783-86C8-0B048D681EC8,japan broadcasting corporation (japan),NaN,unspecified,NaN,None
37283,gtr,C79A6382-1B21-4B02-99E9-03DB5D8AAFFE,stratford primary care network,NaN,e15 4bz,NaN,"{'original': 'e15 4bz', 'postcode': 'E15 4BZ',..."
37287,gtr,BEB172CF-50A1-4402-8E8D-11E5BDD5F5DD,st. mary's college of maryland,NaN,md 20686-3,NaN,None
37289,gtr,BEEEAA91-7AD0-4E7B-8173-19E429CC28F1,memrica,NaN,wr15 8qt,NaN,"{'original': 'wr15 8qt', 'postcode': 'WR15 8QT..."
37292,gtr,BF205DB1-B33E-4CED-B2DB-029CE7775E43,qubeeo ltd,NaN,bn1 6sb,NaN,"{'original': 'bn1 6sb', 'postcode': 'BN1 6SB',..."
37293,gtr,BF4CA3C0-0ACB-4981-8AFD-097C09867F73,mesox ltd,NaN,b4 7et,NaN,"{'original': 'b4 7et', 'postcode': 'B4 7ET', '..."
37297,gtr,BF8AC00C-CF4F-438F-9588-0346945C460A,royal entomological society,NaN,al2 3ns,NaN,"{'original': 'al2 3ns', 'postcode': 'AL2 3NS',..."
37300,gtr,C0038369-D8C3-4B32-A2FA-1A6E28E345E6,dream reality interactive limited,NaN,tw11 0rq,NaN,"{'original': 'tw11 0rq', 'postcode': 'TW11 0RQ..."
37301,gtr,C01F63F1-67FB-4E88-8508-0565D666403C,cambridge healthcare research,NaN,cb4 0ws,NaN,"{'original': 'cb4 0ws', 'postcode': 'CB4 0WS',..."
37302,gtr,C05F58A7-FFB3-4322-9A51-14859F5B2295,national counter terrorism security office,NaN,sw1p 1xd,NaN,"{'original': 'sw1p 1xd', 'postcode': 'SW1P 1XD..."
37304,gtr,C06E2BA4-B8DC-42BE-89B6-09845BAF6597,envirodynamix,NaN,10282,NaN,None
37305,gtr,C075160E-7890-4ED7-B64D-19A98668244D,digital catapult,NaN,nw1 2ra,NaN,"{'original': 'nw1 2ra', 'postcode': 'NW1 2RA',..."
37307,gtr,C30B2A38-0F2B-49C3-8C0A-11270F646CF5,zu-uk,NaN,e15 3ae,NaN,"{'original': 'e15 3ae', 'postcode': 'E15 3AE',..."
37308,gtr,C327D20E-3323-449C-A1E1-090D370E1BB5,nion (united states),NaN,wa 98033,NaN,None
37309,gtr,C3337484-91D0-4461-92D1-017D74FF56AB,peel environmental limited,NaN,m17 8pl,NaN,"{'original': 'm17 8pl', 'postcode': 'M17 8PL',..."
37310,gtr,C33F0315-E2D9-493E-958D-0A46F8906FE7,mental health concern,NaN,unknown,NaN,None
37311,gtr,C33F1630-F147-4E09-B1D1-06AAC018740D,kaj engineering limited,NaN,wf5 8dq,NaN,"{'original': 'wf5 8dq', 'postcode': 'WF5 8DQ',..."
37314,gtr,C39DDCB4-C2CA-4F1E-A1FD-06250A8B8D0E,university of ruhuna,NaN,8000,NaN,None
37315,gtr,C3A70E57-E18F-427A-B541-033A61C2583C,bid services,NaN,b16 8sz,NaN,"{'original': 'b16 8sz', 'postcode': 'B16 8SZ',..."

In [149]:
# find all entries with postcode = "CB2 1TN"
df_cb2 = df[df['postcode'] == "cb2 1tn"]
df_cb2.head(50)

,dataset,id,name,short_name,postcode,city,parsed_postcode
83181,gtr,EDAC9A61-A5DE-4A96-A89F-C793E0EC8681,cambridge enterprise limited,NaN,cb2 1tn,NaN,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."
87740,gtr,8E38A887-3CD8-49FD-87E5-A1844E81B9CF,university of cambridge,NaN,cb2 1tn,NaN,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',..."

In [150]:
# remove None values
df = df.dropna(subset=['parsed_postcode'])
df.head(50)

,dataset,id,name,short_name,postcode,city,parsed_postcode
37245,gtr,5331B126-3AB4-4412-B56D-00E8F2796556,newcastle city council,NaN,ne1 8qh,NaN,"{'original': 'ne1 8qh', 'postcode': 'NE1 8QH',..."
37246,gtr,53331120-0290-49FA-A513-0286A214AF7A,valerann uk limited,NaN,mk14 6gd,NaN,"{'original': 'mk14 6gd', 'postcode': 'MK14 6GD..."
37248,gtr,77908BF8-1B2D-4D26-9119-155100E8B9C5,mindray,NaN,pe29 6fn,NaN,"{'original': 'pe29 6fn', 'postcode': 'PE29 6FN..."
37251,gtr,53474E16-DA35-4007-9F07-1B6C0F32BBF6,licx uk limited,NaN,hp7 0ut,NaN,"{'original': 'hp7 0ut', 'postcode': 'HP7 0UT',..."
37252,gtr,5370084A-BDBF-4A7B-8E02-09B7DE95D01B,panitek power limited,NaN,ec1v 2nx,NaN,"{'original': 'ec1v 2nx', 'postcode': 'EC1V 2NX..."
37254,gtr,537D521C-3D73-458B-A054-196982ADD766,control developments (uk) ltd,NaN,ox29 4pu,NaN,"{'original': 'ox29 4pu', 'postcode': 'OX29 4PU..."
37256,gtr,538EFD3B-D8AF-4B06-BB0E-122E58E65FEF,aberdeen harbour board,NaN,ab11 5ss,NaN,"{'original': 'ab11 5ss', 'postcode': 'AB11 5SS..."
37258,gtr,5396B4CA-422A-4ACB-88AC-1BF02F1D28D3,ak industries limited,NaN,hr2 6jq,NaN,"{'original': 'hr2 6jq', 'postcode': 'HR2 6JQ',..."
37260,gtr,5398E19C-4A38-4777-9DB1-0224648914E0,kool zone limited,NaN,rg9 1nx,NaN,"{'original': 'rg9 1nx', 'postcode': 'RG9 1NX',..."
37262,gtr,53AB545D-9946-4C47-B670-07AA591E9CFF,3d merchandising limited,NaN,bb1 1hw,NaN,"{'original': 'bb1 1hw', 'postcode': 'BB1 1HW',..."
37263,gtr,53BA34F0-E638-4982-9838-0A95057E307C,interactive scientific limited,NaN,bs5 0by,NaN,"{'original': 'bs5 0by', 'postcode': 'BS5 0BY',..."
37267,gtr,C65374AD-00FC-4195-BDD5-07FB22FDCAFE,garton engineering,NaN,ws10 9rf,NaN,"{'original': 'ws10 9rf', 'postcode': 'WS10 9RF..."
37269,gtr,C66ED940-54F4-4A72-862F-0FE53B35AB91,thermo fisher (redundant 2),NaN,pa4 9rf,NaN,"{'original': 'pa4 9rf', 'postcode': 'PA4 9RF',..."
37272,gtr,C689E969-03F8-4474-87CA-1B328652F1E9,hatfield house,NaN,al9 5nq,NaN,"{'original': 'al9 5nq', 'postcode': 'AL9 5NQ',..."
37273,gtr,C69C6D0B-7290-42A2-A9DB-01E2A9FEAFE8,7 layer solutions limited,NaN,gl50 3dt,NaN,"{'original': 'gl50 3dt', 'postcode': 'GL50 3DT..."
37274,gtr,C6AE248D-B9BC-4699-930A-0B93D8D3D17C,smartbox assistive technology limited,NaN,wr14 3hd,NaN,"{'original': 'wr14 3hd', 'postcode': 'WR14 3HD..."
37276,gtr,C6D80C9C-1A93-45D6-B66C-005E80E440D2,3d scanners (uk) limited,NaN,cv1 2tt,NaN,"{'original': 'cv1 2tt', 'postcode': 'CV1 2TT',..."
37278,gtr,C71C7957-CBB3-42A3-BD6F-0E94AED96EFA,natural voice network,NaN,s10 4dp,NaN,"{'original': 's10 4dp', 'postcode': 'S10 4DP',..."
37281,gtr,C77D1065-12E2-49B1-8E8D-0D77999A644F,pilkington united kingdom limited,NaN,l40 5uf,NaN,"{'original': 'l40 5uf', 'postcode': 'L40 5UF',..."
37283,gtr,C79A6382-1B21-4B02-99E9-03DB5D8AAFFE,stratford primary care network,NaN,e15 4bz,NaN,"{'original': 'e15 4bz', 'postcode': 'E15 4BZ',..."
37289,gtr,BEEEAA91-7AD0-4E7B-8173-19E429CC28F1,memrica,NaN,wr15 8qt,NaN,"{'original': 'wr15 8qt', 'postcode': 'WR15 8QT..."
37292,gtr,BF205DB1-B33E-4CED-B2DB-029CE7775E43,qubeeo ltd,NaN,bn1 6sb,NaN,"{'original': 'bn1 6sb', 'postcode': 'BN1 6SB',..."
37293,gtr,BF4CA3C0-0ACB-4981-8AFD-097C09867F73,mesox ltd,NaN,b4 7et,NaN,"{'original': 'b4 7et', 'postcode': 'B4 7ET', '..."
37297,gtr,BF8AC00C-CF4F-438F-9588-0346945C460A,royal entomological society,NaN,al2 3ns,NaN,"{'original': 'al2 3ns', 'postcode': 'AL2 3NS',..."
37300,gtr,C0038369-D8C3-4B32-A2FA-1A6E28E345E6,dream reality interactive limited,NaN,tw11 0rq,NaN,"{'original': 'tw11 0rq', 'postcode': 'TW11 0RQ..."
37301,gtr,C01F63F1-67FB-4E88-8508-0565D666403C,cambridge healthcare research,NaN,cb4 0ws,NaN,"{'original': 'cb4 0ws', 'postcode': 'CB4 0WS',..."
37302,gtr,C05F58A7-FFB3-4322-9A51-14859F5B2295,national counter terrorism security office,NaN,sw1p 1xd,NaN,"{'original': 'sw1p 1xd', 'postcode': 'SW1P 1XD..."
37305,gtr,C075160E-7890-4ED7-B64D-19A98668244D,digital catapult,NaN,nw1 2ra,NaN,"{'original': 'nw1 2ra', 'postcode': 'NW1 2RA',..."
37307,gtr,C30B2A38-0F2B-49C3-8C0A-11270F646CF5,zu-uk,NaN,e15 3ae,NaN,"{'original': 'e15 3ae', 'postcode': 'E15 3AE',..."
37309,gtr,C3337484-91D0-4461-92D1-017D74FF56AB,peel environmental limited,NaN,m17 8pl,NaN,"{'original': 'm17 8pl', 'postcode': 'M17 8PL',..."
37311,gtr,C33F1630-F147-4E09-B1D1-06AAC018740D,kaj engineering limited,NaN,wf5 8dq,NaN,"{'original': 'wf5 8dq', 'postcode': 'WF5 8DQ',..."
37315,gtr,C3A70E57-E18F-427A-B541-033A61C2583C,bid services,NaN,b16 8sz,NaN,"{'original': 'b16 8sz', 'postcode': 'B16 8SZ',..."
37316,gtr,C3AFDB64-A675-40D5-9328-0F06F64156D9,dynamatix ltd,NaN,ec2a 2ew,NaN,"{'original': 'ec2a 2ew', 'postcode': 'EC2A 2EW..."
37318,gtr,C3DF6F96-2EF6-45A4-8936-194C65ED2613,stream bio ltd,NaN,ts21 3fg,NaN,"{'original': 'ts21 3fg', 'postcode': 'TS21 3FG..."
37319,gtr,C3EBC49B-8D7E-46BA-BFBE-066F23BA7267,dodgson associates limited,NaN,w1b 3hh,NaN,"{'original': 'w1b 3hh', 'postcode': 'W1B 3HH',..."
37320,gtr,C40216D9-3857-4CDA-9A5D-026447468434,famiio limited,NaN,ec4m 7jn,NaN,"{'original': 'ec4m 7jn', 'postcode': 'EC4M 7JN..."
37322,gtr,C40AB93D-BA51-4F64-9220-09223F015275,virtalis (united kingdom),NaN,m33 7bp,NaN,"{'original': 'm33 7bp', 'postcode': 'M33 7BP',..."
37323,gtr,C40F681F-1025-48E1-AB60-0A89E54B94B5,manchester histories festival,NaN,m13 9pl,NaN,"{'original': 'm13 9pl', 'postcode': 'M13 9PL',..."
37325,gtr,C4502BF0-7167-4175-B9B6-0D6D7F5E1A8E,vero uk limited,NaN,gl50 3aw,NaN,"{'original': 'gl50 3aw', 'postcode': 'GL50 3AW..."
37327,gtr,E410A53C-FA85-4DC8-8F06-192B4124F06D,nazir associates ltd,NaN,b36 8ej,NaN,"{'original': 'b36 8ej', 'postcode': 'B36 8EJ',..."
37329,gtr,E43416B8-4269-4ACB-9790-0E3AB8F85974,aiknit ltd,NaN,sw12 0hy,NaN,"{'original': 'sw12 0hy', 'postcode': 'SW12 0HY..."
37332,gtr,E4613D2A-8223-4B67-8DC4-04674AB0EE7C,hyperspace corporation limited,NaN,ox4 2jz,NaN,"{'original': 'ox4 2jz', 'postcode': 'OX4 2JZ',..."
37334,gtr,E47AA339-D4A0-4F1C-BD96-114789C16FC2,pro brand international europe ltd,NaN,bb4 5hk,NaN,"{'original': 'bb4 5hk', 'postcode': 'BB4 5HK',..."
37335,gtr,E4BC1AEA-3632-44E0-92EB-0C54243980C8,wiltshire county council,NaN,ba14 8jn,NaN,"{'original': 'ba14 8jn', 'postcode': 'BA14 8JN..."
37336,gtr,E4C760B9-9624-4082-997E-01963BCA207A,infotec ( united kingdom),NaN,ss9 5lq,NaN,"{'original': 'ss9 5lq', 'postcode': 'SS9 5LQ',..."
37337,gtr,E4CFD94A-A181-4162-9265-00687FAECB92,calysta (uk) ltd,NaN,ec4a 1br,NaN,"{'original': 'ec4a 1br', 'postcode': 'EC4A 1BR..."
37338,gtr,E504E21E-CD6F-4517-8F76-0407DF7BDFBB,waters uk,NaN,wd6 3sz,NaN,"{'original': 'wd6 3sz', 'postcode': 'WD6 3SZ',..."
37340,gtr,E5170398-77BC-45EB-AC37-1C45D453BBF3,plantagenet systems limited,NaN,wr14 3eg,NaN,"{'original': 'wr14 3eg', 'postcode': 'WR14 3EG..."
37341,gtr,E51B166C-89D4-4DE3-9145-1AAEC84E49CD,pembroke house,NaN,se17 1qr,NaN,"{'original': 'se17 1qr', 'postcode': 'SE17 1QR..."
37342,gtr,E5315150-FC14-41AD-A1AE-0DCAE5667BC5,britannia lightspeed technologies limited,NaN,cm1 3th,NaN,"{'original': 'cm1 3th', 'postcode': 'CM1 3TH',..."

In [151]:
df.tail()

,dataset,id,name,short_name,postcode,city,parsed_postcode
106305,gtr,01F2924C-FFB4-481B-B8F0-31234D33F0FA,university of exeter,NaN,ex4 4sb,NaN,"{'original': 'ex4 4sb', 'postcode': 'EX4 4SB',..."
106306,gtr,0433C2E4-BD74-4E19-A10F-04877DD9411B,spearhead marketing limited,NaN,cb8 8jp,NaN,"{'original': 'cb8 8jp', 'postcode': 'CB8 8JP',..."
106307,gtr,0648C484-FB54-4EE8-8AA5-0CCC73A1F54C,bgr training limited,NaN,g41 3qs,NaN,"{'original': 'g41 3qs', 'postcode': 'G41 3QS',..."
106310,gtr,0D4FDCE2-32C8-4FC1-A582-331BEE2B5C1F,disyn biotc,NaN,wa5 3pz,NaN,"{'original': 'wa5 3pz', 'postcode': 'WA5 3PZ',..."
106311,gtr,E15F7794-DE6A-4BF3-814D-075FDAE2E332,x-io technologies limited,NaN,bs4 2js,NaN,"{'original': 'bs4 2js', 'postcode': 'BS4 2JS',..."

In [152]:
# get type of parsed_postcode
print(type(df.iloc[0]["parsed_postcode"]))

<class 'dict'>

In [153]:
df.tail(10)

,dataset,id,name,short_name,postcode,city,parsed_postcode
106297,gtr,DC85C5E8-F95E-48A9-B3E8-23110BF82DF9,ticker limited,NaN,gu8 6bq,NaN,"{'original': 'gu8 6bq', 'postcode': 'GU8 6BQ',..."
106298,gtr,DDBC0327-903E-4CC0-970F-231601349D9E,ekaterra r&d,NaN,mk44 1lq,NaN,"{'original': 'mk44 1lq', 'postcode': 'MK44 1LQ..."
106300,gtr,DE0B2CDD-AF6A-4E4B-83C2-0A70968D934B,hdr uk,NaN,nw1 2be,NaN,"{'original': 'nw1 2be', 'postcode': 'NW1 2BE',..."
106301,gtr,DE2A3BD5-4503-420D-AC8A-1C14E0AC401F,sartorius stedim lab limited,NaN,gl10 3ut,NaN,"{'original': 'gl10 3ut', 'postcode': 'GL10 3UT..."
106303,gtr,E17A6DDD-8D5F-4E58-8AB0-2628D5266F1E,recon waste management ltd,NaN,bt62 1ux,NaN,"{'original': 'bt62 1ux', 'postcode': 'BT62 1UX..."
106305,gtr,01F2924C-FFB4-481B-B8F0-31234D33F0FA,university of exeter,NaN,ex4 4sb,NaN,"{'original': 'ex4 4sb', 'postcode': 'EX4 4SB',..."
106306,gtr,0433C2E4-BD74-4E19-A10F-04877DD9411B,spearhead marketing limited,NaN,cb8 8jp,NaN,"{'original': 'cb8 8jp', 'postcode': 'CB8 8JP',..."
106307,gtr,0648C484-FB54-4EE8-8AA5-0CCC73A1F54C,bgr training limited,NaN,g41 3qs,NaN,"{'original': 'g41 3qs', 'postcode': 'G41 3QS',..."
106310,gtr,0D4FDCE2-32C8-4FC1-A582-331BEE2B5C1F,disyn biotc,NaN,wa5 3pz,NaN,"{'original': 'wa5 3pz', 'postcode': 'WA5 3PZ',..."
106311,gtr,E15F7794-DE6A-4BF3-814D-075FDAE2E332,x-io technologies limited,NaN,bs4 2js,NaN,"{'original': 'bs4 2js', 'postcode': 'BS4 2JS',..."

In [154]:
# rename postcode column to original_postcode
df = df.rename(columns={"postcode": "original_postcode"})
df_normalised = pd.json_normalize(df['parsed_postcode'])
df_combined = pd.concat([df.reset_index(drop=True), df_normalised.reset_index(drop=True)], axis=1)


# save
df_combined.to_csv("data/geolocations/orgs_names_postcodes_cleaned.csv", index=False)

In [155]:
df_combined.tail(50)

,dataset,id,name,short_name,original_postcode,city,parsed_postcode,original,postcode,incode,outcode,area,district,sub_district,sector,unit,fix_distance,is_in_ons_postcode_directory
35921,gtr,A623CD38-0CB2-4672-B4CB-70D35D3B0083,disruptieve ltd,NaN,ec2a 4ne,NaN,"{'original': 'ec2a 4ne', 'postcode': 'EC2A 4NE...",ec2a 4ne,EC2A 4NE,4NE,EC2A,EC,EC2,EC2A,EC2A 4,NE,0,True
35922,gtr,A8E654D3-E2CB-4730-8755-639FE48000FD,legrand electric limited,NaN,b19 2lf,NaN,"{'original': 'b19 2lf', 'postcode': 'B19 2LF',...",b19 2lf,B19 2LF,2LF,B19,B,B19,None,B19 2,LF,0,True
35923,gtr,ABA2B172-B299-4585-B5D8-601DDE5F620E,quic (uk) limited,NaN,ll13 7gw,NaN,"{'original': 'll13 7gw', 'postcode': 'LL13 7GW...",ll13 7gw,LL13 7GW,7GW,LL13,LL,LL13,None,LL13 7,GW,0,True
35924,gtr,ABE0BBA0-6595-4B2E-894B-563D5F8D9F93,grow-wellbeing cic,NaN,ch41 6nd,NaN,"{'original': 'ch41 6nd', 'postcode': 'CH41 6ND...",ch41 6nd,CH41 6ND,6ND,CH41,CH,CH41,None,CH41 6,ND,0,True
35925,gtr,ACDFD9C2-230E-4063-B9A7-1660AC7ECB99,sector health ltd,NaN,bn1 1ad,NaN,"{'original': 'bn1 1ad', 'postcode': 'BN1 1AD',...",bn1 1ad,BN1 1AD,1AD,BN1,BN,BN1,None,BN1 1,AD,0,True
35926,gtr,ACE761D4-BBA1-45BF-A495-20A7D4273204,parallel wireless uk limited,NaN,gu47 0qa,NaN,"{'original': 'gu47 0qa', 'postcode': 'GU47 0QA...",gu47 0qa,GU47 0QA,0QA,GU47,GU,GU47,None,GU47 0,QA,0,True
35927,gtr,B4915CAB-7E45-44A7-9E07-6D48D792D88E,diamond light source limited,NaN,ox11 0de,NaN,"{'original': 'ox11 0de', 'postcode': 'OX11 0DE...",ox11 0de,OX11 0DE,0DE,OX11,OX,OX11,None,OX11 0,DE,0,True
35928,gtr,B4DE2E42-A68E-4D90-B9D5-3FBDF00D0447,censis,NaN,g1 1rd,NaN,"{'original': 'g1 1rd', 'postcode': 'G1 1RD', '...",g1 1rd,G1 1RD,1RD,G1,G,G1,None,G1 1,RD,0,True
35929,gtr,F8BF467D-E283-482B-A3A3-51B1B23F8C2D,cassels farm limited,NaN,ba12 0qq,NaN,"{'original': 'ba12 0qq', 'postcode': 'BA12 0QQ...",ba12 0qq,BA12 0QQ,0QQ,BA12,BA,BA12,None,BA12 0,QQ,0,True
35930,gtr,FE006F58-88C3-40CF-A595-4FCDB3D8A21F,planning democracy,NaN,ky11 3lg,NaN,"{'original': 'ky11 3lg', 'postcode': 'KY11 3LG...",ky11 3lg,KY11 3LG,3LG,KY11,KY,KY11,None,KY11 3,LG,0,True
35931,gtr,FEDF853E-F966-4CDF-9F90-584D531B2459,isize limited,NaN,ec2v 6dn,NaN,"{'original': 'ec2v 6dn', 'postcode': 'EC2V 6DN...",ec2v 6dn,EC2V 6DN,6DN,EC2V,EC,EC2,EC2V,EC2V 6,DN,0,True
35932,gtr,FEF3563D-198D-49CD-8DBC-14FD849B4EA5,kyrexa ltd,NaN,eh4 2hs,NaN,"{'original': 'eh4 2hs', 'postcode': 'EH4 2HS',...",eh4 2hs,EH4 2HS,2HS,EH4,EH,EH4,None,EH4 2,HS,0,True
35933,gtr,02EB0FC4-0AB9-4DF1-91E2-245F1D75AD43,cyphere ltd,NaN,wa14 1es,NaN,"{'original': 'wa14 1es', 'postcode': 'WA14 1ES...",wa14 1es,WA14 1ES,1ES,WA14,WA,WA14,None,WA14 1,ES,0,True
35934,gtr,02F6BE6F-DC5D-4BD0-B02F-7ED22C4DADC2,association for physical education,NaN,wr2 6aj,NaN,"{'original': 'wr2 6aj', 'postcode': 'WR2 6AJ',...",wr2 6aj,WR2 6AJ,6AJ,WR2,WR,WR2,None,WR2 6,AJ,0,True
35935,gtr,0615709C-A5E7-4304-8512-7677A3CEB43A,health innovation yorkshire & humber,NaN,wf4 3ba,NaN,"{'original': 'wf4 3ba', 'postcode': 'WF4 3BA',...",wf4 3ba,WF4 3BA,3BA,WF4,WF,WF4,None,WF4 3,BA,0,True
35936,gtr,06BF8A31-269A-4D7E-A760-825B05CD56D2,kingston voluntary action,NaN,kt2 6lx,NaN,"{'original': 'kt2 6lx', 'postcode': 'KT2 6LX',...",kt2 6lx,KT2 6LX,6LX,KT2,KT,KT2,None,KT2 6,LX,0,True
35937,gtr,0A961377-EBA7-4D6A-8E7F-266BD2930728,sgema,NaN,sy231pu,NaN,"{'original': 'sy231pu', 'postcode': 'SY23 1PU'...",sy231pu,SY23 1PU,1PU,SY23,SY,SY23,None,SY23 1,PU,0,True
35938,gtr,0DC345FF-65A5-43F9-93C8-27438AA42B42,east malling trust,NaN,me19 6dz,NaN,"{'original': 'me19 6dz', 'postcode': 'ME19 6DZ...",me19 6dz,ME19 6DZ,6DZ,ME19,ME,ME19,None,ME19 6,DZ,0,True
35939,gtr,0F608F03-3030-4038-A1F1-7A306A9E707A,intellithing ltd,NaN,m3 3aq,NaN,"{'original': 'm3 3aq', 'postcode': 'M3 3AQ', '...",m3 3aq,M3 3AQ,3AQ,M3,M,M3,None,M3 3,AQ,0,True
35940,gtr,107C8966-77AE-4056-B9C4-175255D72CFF,kruiz ltd,NaN,nw4 3rs,NaN,"{'original': 'nw4 3rs', 'postcode': 'NW4 3RS',...",nw4 3rs,NW4 3RS,3RS,NW4,NW,NW4,None,NW4 3,RS,0,True
35941,gtr,10F99415-F907-4978-928D-415F527118B9,mozarto ltd,NaN,ip12 3ap,NaN,"{'original': 'ip12 3ap', 'postcode': 'IP12 3AP...",ip12 3ap,IP12 3AP,3AP,IP12,IP,IP12,None,IP12 3,AP,0,True
35942,gtr,11780B3C-878F-4D0F-BADE-27EFDE2683B8,nexam st andrews ltd,NaN,ky15 4rd,NaN,"{'original': 'ky15 4rd', 'postcode': 'KY15 4RD...",ky15 4rd,KY15 4RD,4RD,KY15,KY,KY15,None,KY15 4,RD,0,True
35943,gtr,12201365-48A7-404E-93EB-46FAB802C7A6,clean air limited,NaN,bl4 7bh,NaN,"{'original': 'bl4 7bh', 'postcode': 'BL4 7BH',...",bl4 7bh,BL4 7BH,7BH,BL4,BL,BL4,None,BL4 7,BH,0,True
35944,gtr,47155B33-22BF-4F80-A5BD-7E9029AC7F69,gedling borough council,NaN,ng5 6lu,NaN,"{'original': 'ng5 6lu', 'postcode': 'NG5 6LU',...",ng5 6lu,NG5 6LU,6LU,NG5,NG,NG5,None,NG5 6,LU,0,True
35945,gtr,4A134B47-6888-49BB-A75C-744DBE452279,goodrich controls holding limited,NaN,b90 4ss,NaN,"{'original': 'b90 4ss', 'postcode': 'B90 4SS',...",b90 4ss,B90 4SS,4SS,B90,B,B90,None,B90 4,SS,0,True
35946,gtr,4D604A2D-158A-47C6-BAA5-24E5143C766A,mechanimal arts cic,NaN,bs6 7dt,NaN,"{'original': 'bs6 7dt', 'postcode': 'BS6 7DT',...",bs6 7dt,BS6 7DT,7DT,BS6,BS,BS6,None,BS6 7,DT,0,True
35947,gtr,5301DD13-F642-482A-BFD8-41F67E0C4564,arc v ltd,NaN,cv8 3fx,NaN,"{'original': 'cv8 3fx', 'postcode': 'CV8 3FX',...",cv8 3fx,CV8 3FX,3FX,CV8,CV,CV8,None,CV8 3,FX,0,True
35948,gtr,546BDAAC-61A1-47C0-9CF4-4D68E4642A5C,smedvig capital limited,NaN,sw1a 1rd,NaN,"{'original': 'sw1a 1rd', 'postcode': 'SW1A 1RD...",sw1a 1rd,SW1A 1RD,1RD,SW1A,SW,SW1,SW1A,SW1A 1,RD,0,True
35949,gtr,58235F37-674E-44B5-92B6-18289205AB38,edinburgh chamber of commerce,NaN,eh2 2le,NaN,"{'original': 'eh2 2le', 'postcode': 'EH2 2LE',...",eh2 2le,EH2 2LE,2LE,EH2,EH,EH2,None,EH2 2,LE,0,True
35950,gtr,5945336E-FC42-425E-8AD7-2C3D5B75D92B,environcom england ltd,NaN,ng31 7uh,NaN,"{'original': 'ng31 7uh', 'postcode': 'NG31 7UH...",ng31 7uh,NG31 7UH,7UH,NG31,NG,NG31,None,NG31 7,UH,0,True
35951,gtr,5E17A35C-3D60-4EA1-A8EB-41C4EFF9BAE0,therme group services (uk) limited,NaN,w1k 6we,NaN,"{'original': 'w1k 6we', 'postcode': 'W1K 6WE',...",w1k 6we,W1K 6WE,6WE,W1K,W,W1,W1K,W1K 6,WE,0,True
35952,gtr,5F2EFFDB-D246-493A-8AFE-455A2C193C3B,plastometrex ltd,NaN,cb4 0gz,NaN,"{'original': 'cb4 0gz', 'postcode': 'CB4 0GZ',...",cb4 0gz,CB4 0GZ,0GZ,CB4,CB,CB4,None,CB4 0,GZ,0,True
35953,gtr,63B27C18-ED7F-49BB-825D-2FD3041AB95F,sub 10 ltd,NaN,ne8 3df,NaN,"{'original': 'ne8 3df', 'postcode': 'NE8 3DF',...",ne8 3df,NE8 3DF,3DF,NE8,NE,NE8,None,NE8 3,DF,0,True
35954,gtr,64937B78-901D-4214-99DB-7A58AB3AE9E6,thistle rocketry ltd,NaN,td1 3te,NaN,"{'original': 'td1 3te', 'postcode': 'TD1 3TE',...",td1 3te,TD1 3TE,3TE,TD1,TD,TD1,None,TD1 3,TE,0,True
35955,gtr,64D0C825-E6B4-4965-8D18-228F95113DC1,police service of northern ireland,NaN,bt5 6le,NaN,"{'original': 'bt5 6le', 'postcode': 'BT5 6LE',...",bt5 6le,BT5 6LE,6LE,BT5,BT,BT5,None,BT5 6,LE,0,True
35956,gtr,68FC6412-9529-4DA9-BF93-743D66D6B93E,teki cognitive technology limited,NaN,sk4 3ea,NaN,"{'original': 'sk4 3ea', 'postcode': 'SK4 3EA',...",sk4 3ea,SK4 3EA,3EA,SK4,SK,SK4,None,SK4 3,EA,0,True
35957,gtr,CCD9546F-AE2C-42D7-B089-2794747D4444,age uk gloucestershire,NaN,gl4 3rt,NaN,"{'original': 'gl4 3rt', 'postcode': 'GL4 3RT',...",gl4 3rt,GL4 3RT,3RT,GL4,GL,GL4,None,GL4 3,RT,0,True
35958,gtr,CF79993A-AC8E-4B38-8884-22D44A75DF07,mednet limited,NaN,ls6 2al,NaN,"{'original': 'ls6 2al', 'postcode': 'LS6 2AL',...",ls6 2al,LS6 2AL,2AL,LS6,LS,LS6,None,LS6 2,AL,0,True
35959,gtr,D69E9E0D-D363-42C3-B3D7-1283130229EF,health improvement dept,NaN,ml8 5er,NaN,"{'original': 'ml8 5er', 'postcode': 'ML8 5ER',...",ml8 5er,ML8 5ER,5ER,ML8,ML,ML8,None,ML8 5,ER,0,False
35960,gtr,D82C2CEE-07CD-47FA-8711-2A514C46CCDA,seaweed energy ltd,NaN,dd10 8sw,NaN,"{'original': 'dd10 8sw', 'postcode': 'DD10 8SW...",dd10 8sw,DD10 8SW,8SW,DD10,DD,DD10,None,DD10 8,SW,0,True
35961,gtr,DC85C5E8-F95E-48A9-B3E8-23110BF82DF9,ticker limited,NaN,gu8 6bq,NaN,"{'original': 'gu8 6bq', 'postcode': 'GU8 6BQ',...",gu8 6bq,GU8 6BQ,6BQ,GU8,GU,GU8,None,GU8 6,BQ,0,True
35962,gtr,DDBC0327-903E-4CC0-970F-231601349D9E,ekaterra r&d,NaN,mk44 1lq,NaN,"{'original': 'mk44 1lq', 'postcode': 'MK44 1LQ...",mk44 1lq,MK44 1LQ,1LQ,MK44,MK,MK44,None,MK44 1,LQ,0,True
35963,gtr,DE0B2CDD-AF6A-4E4B-83C2-0A70968D934B,hdr uk,NaN,nw1 2be,NaN,"{'original': 'nw1 2be', 'postcode': 'NW1 2BE',...",nw1 2be,NW1 2BE,2BE,NW1,NW,NW1,None,NW1 2,BE,0,True
35964,gtr,DE2A3BD5-4503-420D-AC8A-1C14E0AC401F,sartorius stedim lab limited,NaN,gl10 3ut,NaN,"{'original': 'gl10 3ut', 'postcode': 'GL10 3UT...",gl10 3ut,GL10 3UT,3UT,GL10,GL,GL10,None,GL10 3,UT,0,True
35965,gtr,E17A6DDD-8D5F-4E58-8AB0-2628D5266F1E,recon waste management ltd,NaN,bt62 1ux,NaN,"{'original': 'bt62 1ux', 'postcode': 'BT62 1UX...",bt62 1ux,BT62 1UX,1UX,BT62,BT,BT62,None,BT62 1,UX,0,True
35966,gtr,01F2924C-FFB4-481B-B8F0-31234D33F0FA,university of exeter,NaN,ex4 4sb,NaN,"{'original': 'ex4 4sb', 'postcode': 'EX4 4SB',...",ex4 4sb,EX4 4SB,4SB,EX4,EX,EX4,None,EX4 4,SB,0,True
35967,gtr,0433C2E4-BD74-4E19-A10F-04877DD9411B,spearhead marketing limited,NaN,cb8 8jp,NaN,"{'original': 'cb8 8jp', 'postcode': 'CB8 8JP',...",cb8 8jp,CB8 8JP,8JP,CB8,CB,CB8,None,CB8 8,JP,0,True
35968,gtr,0648C484-FB54-4EE8-8AA5-0CCC73A1F54C,bgr training limited,NaN,g41 3qs,NaN,"{'original': 'g41 3qs', 'postcode': 'G41 3QS',...",g41 3qs,G41 3QS,3QS,G41,G,G41,None,G41 3,QS,0,True
35969,gtr,0D4FDCE2-32C8-4FC1-A582-331BEE2B5C1F,disyn biotc,NaN,wa5 3pz,NaN,"{'original': 'wa5 3pz', 'postcode': 'WA5 3PZ',...",wa5 3pz,WA5 3PZ,3PZ,WA5,WA,WA5,None,WA5 3,PZ,0,True
35970,gtr,E15F7794-DE6A-4BF3-814D-075FDAE2E332,x-io technologies limited,NaN,bs4 2js,NaN,"{'original': 'bs4 2js', 'postcode': 'BS4 2JS',...",bs4 2js,BS4 2JS,2JS,BS4,BS,BS4,None,BS4 2,JS,0,True

In [156]:
# find all entries with postcode = "CB2 1TN"
df_cb2 = df_combined[df_combined['postcode'] == "CB2 1TN"]
df_cb2.head()

,dataset,id,name,short_name,original_postcode,city,parsed_postcode,original,postcode,incode,outcode,area,district,sub_district,sector,unit,fix_distance,is_in_ons_postcode_directory
23796,gtr,EDAC9A61-A5DE-4A96-A89F-C793E0EC8681,cambridge enterprise limited,NaN,cb2 1tn,NaN,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',...",cb2 1tn,CB2 1TN,1TN,CB2,CB,CB2,None,CB2 1,TN,0,True
26163,gtr,8E38A887-3CD8-49FD-87E5-A1844E81B9CF,university of cambridge,NaN,cb2 1tn,NaN,"{'original': 'cb2 1tn', 'postcode': 'CB2 1TN',...",cb2 1tn,CB2 1TN,1TN,CB2,CB,CB2,None,CB2 1,TN,0,True

# We can now look at the organisations with postcodes that specify sub_distict and those that don't.
Those that don't are likely to be rough approximations of the location of the organisation. We can also match on incode, outcode, area, district and subdistrict. 

We can also see in "is_in_ons_postcode_directory" whether a postcode is no longer in use (will be set to False). Could indicate an org has moved. 

Now we can try matching...
1. Get df_id_postcode = df["id", "postcode"]

Get list of ids for each postcode

In [157]:
df_id_pc = df_combined[["id", "postcode"]].copy()

df_grouped = df_id_pc.groupby("postcode")["id"].apply(list).reset_index(name="org_ids")
df_grouped.head(50)

df_grouped.to_csv("data/geolocations/orgs_names_postcodes_grouped.csv", index=False)

remove any postcodes with less than 2 ids

In [158]:
# remove any postcodes with less than 2 ids
df_grouped = df_grouped[df_grouped["org_ids"].apply(lambda x: len(x) > 1)]

In [159]:
df_grouped.head()

    postcode                                            org_ids
3   AB10 1AB  [7ED73A50-A205-49E0-A635-2CB09B1555E3, 4BD11E7...
8   AB10 1FR  [2C2EF413-6B81-4F48-BE30-58F0BF3291F0, D2CEE12...
9   AB10 1FW  [196C380E-218E-4E8B-89DA-1B84D05AD536, C1FBF68...
10  AB10 1HA  [B6392179-08BD-4FB2-9C7F-87140CD20E11, 90D8464...
19  AB10 1UP  [2C81420E-9DC4-4EF1-A779-8DB811235D40, 18C433C...

In [160]:
# save df_grouped
df_grouped.to_csv("data/geolocations/orgs_names_postcodes_grouped_unique_only.csv", index=False)

In [161]:
# what postcode has the most ids and how many does it have?
max_ids = df_grouped["org_ids"].apply(len).max()
max_ids_postcode = df_grouped[df_grouped["org_ids"].apply(len) == max_ids]

In [162]:
print(max_ids)
print(max_ids_postcode)
print(len(max_ids_postcode))

168
       postcode                                            org_ids
22058  WC2H 9JQ  [010D8FA8-E2B1-4BB1-9FAE-354D039F7DF4, A08CFD3...
1

# One cambridge postcode has like 1000 ids... not sure why

Next step is to look within those groups and see if there are multiple org names. 

Similarly, groupby org names, and look for different postcodes.