In [10]:
import os, sys, json
import numpy as np
import pandas as pd
import re

In [11]:
def move_working_dir_to_repo_root(repo_name="orgsync"):
    current_dir = os.getcwd()
    #conver to lowercase
    while os.path.basename(current_dir).lower() != repo_name:
        current_dir = os.path.dirname(current_dir)
    os.chdir(current_dir)
    print("Current working directory: ", os.getcwd())

move_working_dir_to_repo_root(repo_name="orgsync")

Current working directory:  c:\Users\dec2g\GitHub\OrgSync

In [12]:
cordis = "data/geolocations/cordis_organizations.csv"
gtr = "data/geolocations/gtr_organizations.csv"

df_cordis = pd.read_csv(cordis)
df_gtr = pd.read_csv(gtr)

In [13]:
df_cordis.head()

,dataset,id,name,short_name,postcode,city
0,cordis,323260,NUCLEAR DECOMMISSIONING AUTHORITY - NDA,NDA,CA24 3HU,MOOR ROW
1,cordis,219438,SOUTH WEST TOURISM LIMITED,South West Tourism,EX2 5WT,EXETER
2,cordis,219438,WELSH GOVERNMENT,Welsh Government,CF10 3NQ,Cardiff
3,cordis,226103,TERRASALUS LIMITED,TerraSalus,LE15 9EL,OAKHAM
4,cordis,282558,Ol PHARMA PARTNERS LTD,Pharmivation,SG4 7DP,WESTON HERTS

In [14]:
df_gtr.head()

,dataset,id,name,postcode
0,gtr,5331B126-3AB4-4412-B56D-00E8F2796556,NEWCASTLE CITY COUNCIL,NE1 8QH
1,gtr,53331120-0290-49FA-A513-0286A214AF7A,VALERANN UK LIMITED,MK14 6GD
2,gtr,77874202-2018-4677-8CFF-0868CD838659,Baltic Sea Cultural Centre in Gdansk,NaN
3,gtr,77908BF8-1B2D-4D26-9119-155100E8B9C5,Mindray,PE29 6FN
4,gtr,7794C645-9CC7-4913-A8DC-103AE0EFDD4B,Democracy International,20814

In [15]:
# concat the two dataframes
df = pd.concat([df_cordis, df_gtr], ignore_index=True)
df.head()

,dataset,id,name,short_name,postcode,city
0,cordis,323260,NUCLEAR DECOMMISSIONING AUTHORITY - NDA,NDA,CA24 3HU,MOOR ROW
1,cordis,219438,SOUTH WEST TOURISM LIMITED,South West Tourism,EX2 5WT,EXETER
2,cordis,219438,WELSH GOVERNMENT,Welsh Government,CF10 3NQ,Cardiff
3,cordis,226103,TERRASALUS LIMITED,TerraSalus,LE15 9EL,OAKHAM
4,cordis,282558,Ol PHARMA PARTNERS LTD,Pharmivation,SG4 7DP,WESTON HERTS

In [16]:
def unique_values_in(df, column, print_=True):
    if print_:
        print("Unique values in column: ", column)
        print(df[column].unique())
    return df[column].unique()

unique_values_in(df, "name")

unique_values_in(df, "short_name")

Unique values in column:  name
['NUCLEAR DECOMMISSIONING AUTHORITY - NDA' 'SOUTH WEST TOURISM LIMITED'
 'WELSH GOVERNMENT' ... 'BGR TRAINING LIMITED' 'Disyn Biotc'
 'X-IO TECHNOLOGIES LIMITED']
Unique values in column:  short_name
['NDA' 'South West Tourism' 'Welsh Government' ... 'CMB.TECH UK'
 'IPG AUTOMOTIVE UK LIMITED' 'Renewable Risk Advisers Ltd.']

array(['NDA', 'South West Tourism', 'Welsh Government', ...,
       'CMB.TECH UK', 'IPG AUTOMOTIVE UK LIMITED',
       'Renewable Risk Advisers Ltd.'], dtype=object)

In [17]:
def create_clean_columns(column_names = ["name", "short_name", "postcode", "city"], inplace=True):
    for column in column_names:
        df[column + "_clean"] = df[column].str.lower().str.replace(r'[^\w\s]', '').str.replace(r'\s+', ' ').str.strip()
        if inplace:
            df.drop(column, axis=1, inplace=True)
            #rename the column
            df.rename(columns={column + "_clean": column}, inplace=True)
    return df

df = create_clean_columns(column_names = ["name", "short_name", "postcode", "city"])
df.head()

def create_names_col(df):
    # create new col "names" with list [name, short_name] if name or short_name is not missing
    pass

In [18]:
# save df
df.to_csv("data/geolocations/orgs_names_postcodes.csv", index=False)

# City name postcodes
Ignore for now...

```python
def get_postcodes_for_city(city_name, country='GB'):
    import pgeocode # tucking it away for now. 
    # Initialize the geocoder for the specified country
    geocoder = pgeocode.Nominatim(country)
    
    # Get the full dataset for the country
    data = geocoder.get_data()
    
    # Convert city name to uppercase for case-insensitive matching
    city_name = city_name.upper()
    
    # Filter the dataset to only include rows where the place name matches the city
    city_data = data[data['place_name'].str.upper() == city_name]
    
    if city_data.empty:
        return "No postcodes found for the specified city."
    
    # Get unique postcodes for the city
    postcodes = city_data['postal_code'].unique()
    
    return postcodes.tolist()

def check_postcodes():
    # check if postcodes matches coarse postcodes from lookup. if it does, highlight it
    pass
```