In [2]:
import splink.comparison_library as cl
import pandas as pd
import numpy as np
import json
import os, sys
from splink.exploratory import completeness_chart
from splink import DuckDBAPI, Linker, SettingsCreator, block_on, splink_datasets
from splink_tools import *
from pprint import pprint 

def move_working_dir_to_repo_root(repo_name="orgsync"):
    """
    Move the current working directory to the root of the repository.
    """
    current_dir = os.getcwd()
    while os.path.basename(current_dir).lower() != repo_name:
        current_dir = os.path.dirname(current_dir)
    os.chdir(current_dir)
    print("Current working directory: ", os.getcwd())

move_working_dir_to_repo_root(repo_name="orgsync")

Current working directory:  /home/ubuntu/OrgSync

### Check for duplicate ids in datasets

Cleaned
```
len(gtr_df): 69067
len(cordis_df): 36508
uniqu in id gtr: 69067
uniqu in id cordis: 5398
```

raw w/ cordis = just one dataset (FP7, organisation.json)
```
len(gtr_df): 69067
len(cordis_df): 123419
uniqu in id gtr: 69067
uniqu in id cordis: 28177
```

```python
data_dir = os.path.join("data", "raw")
with open(os.path.join(data_dir, "gtr_data.json"), "r", encoding="utf8") as f:
    gtr_json = json.load(f)
with open(os.path.join(data_dir, "uk_data.json"), "r", encoding="utf8") as f:
    cordis_json = json.load(f)

gtr_df = pd.DataFrame(gtr_json)
cordis_df = pd.DataFrame(cordis_json)

print(f"len(gtr_df): {len(gtr_df)}")
print(f"len(cordis_df): {len(cordis_df)}")
print(f"uniqu in id gtr: {len(gtr_df['id'].unique())}")
print(f"uniqu in id cordis: {len(cordis_df['organisationID'].unique())}")

base = os.path.join("data", "raw", "all_scraped")
file_paths = [
    "cordis/2024_07/FP7/organization.json",
    "gtr/scraped/2024_07/organisations.json"
]
with open(os.path.join(base, file_paths[0]), "r", encoding="utf8") as f:
    cordis_json = json.load(f)
with open(os.path.join(base, file_paths[1]), "r", encoding="utf8") as f:
    gtr_json = json.load(f)

cordis_df = pd.DataFrame(cordis_json)
gtr_df = pd.DataFrame(gtr_json)

print(f"len(gtr_df): {len(gtr_df)}")
print(f"len(cordis_df): {len(cordis_df)}")
print(f"uniqu in id gtr: {len(gtr_df['id'].unique())}")
print(f"uniqu in id cordis: {len(cordis_df['organisationID'].unique())}")
```

In [3]:
base_path = os.path.join("data", "splink")
data_path = os.path.join(base_path, "all_data.json")
postcodes_path = os.path.join(base_path, "parsed_postcodes.json")

# load the data
df = pd.read_json(data_path)
df_postcodes = pd.read_json(postcodes_path)
print(f"len(df): {len(df)}")
print(f"len(df_postcodes): {len(df_postcodes)}")
print(f"unique_id in df: {df['unique_id'].nunique()}")
print(f"unique_id in df_postcodes: {df_postcodes['unique_id'].nunique()}")

df.drop_duplicates(inplace=True)
df_postcodes.drop_duplicates(inplace=True)

print(f"len(df): {len(df)}")
print(f"len(df_postcodes): {len(df_postcodes)}")
print(f"unique_id in df: {df['unique_id'].nunique()}")
print(f"unique_id in df_postcodes: {df_postcodes['unique_id'].nunique()}")


def create_unique_identifiers(df, df_postcodes):
    """
    #! This function is no longer needed but kept in case it crops up again.
    The two input datasets contain columns for the same entries in the same order.
    Many entires have the same `unique_id` in both datasets. This function creates a new column
    `global_id` that is unique for each entry in the datasets.

    It then merges the two datasets on this new column.
    """
    assert df["unique_id"].to_list() == df_postcodes["unique_id"].to_list()
    assert df["dataset"].to_list() == df_postcodes["dataset"].to_list()
    
    df["global_id"] = range(len(df))
    df_postcodes["global_id"] = range(len(df_postcodes))
    # convert the global_id to string
    df["global_id"] = df["global_id"].astype(str)
    df_postcodes["global_id"] = df_postcodes["global_id"].astype(str)
    df = df.merge(df_postcodes, on=["global_id", "dataset", "unique_id"], how="left")
    return df

data_unique_ids = df['unique_id'].to_list()
postcodes_unique_ids = df_postcodes['unique_id'].to_list()
data_datasets = df["dataset"].to_list()
postcodes_datasets = df_postcodes["dataset"].to_list()
# check if the unique_ids in the data and postcodes are the same
assert data_unique_ids == postcodes_unique_ids
assert data_datasets == postcodes_datasets

df.head()

len(df): 105573
len(df_postcodes): 105573
unique_id in df: 74508
unique_id in df_postcodes: 74508
len(df): 74508
len(df_postcodes): 74508
unique_id in df: 74508
unique_id in df_postcodes: 74508

  unique_id                                    name  postcode dataset
0   1906596  nuclear decommissioning authority  nda  ca24 3hu  cordis
1   2123954              south west tourism limited   ex2 5wt  cordis
2   1915686                        welsh government  cf10 3nq  cordis
3   2128407                      terrasalus limited  le15 9el  cordis
4   2168344                  ol pharma partners ltd   sg4 7dp  cordis

In [4]:
df_postcodes.head()

,unique_id,dataset,parsed.postcode,parsed.original,parsed.incode,parsed.outcode,parsed.area,parsed.district,parsed.sub_district,parsed.sector,parsed.unit,parsed.fix_distance,parsed.is_in_ons_postcode_directory
0,1906596,cordis,CA24 3HU,ca24 3hu,3HU,CA24,CA,CA24,None,CA24 3,HU,0.0,1.0
1,2123954,cordis,EX2 5WT,ex2 5wt,5WT,EX2,EX,EX2,None,EX2 5,WT,0.0,0.0
2,1915686,cordis,CF10 3NQ,cf10 3nq,3NQ,CF10,CF,CF10,None,CF10 3,NQ,0.0,1.0
3,2128407,cordis,LE15 9EL,le15 9el,9EL,LE15,LE,LE15,None,LE15 9,EL,0.0,1.0
4,2168344,cordis,SG4 7DP,sg4 7dp,7DP,SG4,SG,SG4,None,SG4 7,DP,0.0,1.0

In [5]:
def pd_create_parsed_postcode_columns(data, postcode_data):
    """
    Marge data dn post_code on unique_id

    Inputs:
    data: pd.DataFrame
    postcode_data: pd.DataFrame
    """

    # merge on index
    merged_data = pd.merge(data, postcode_data, how="left", on="unique_id")

    # data = pd.concat([data, postcode_data], axis=1)
    return merged_data

df = pd_create_parsed_postcode_columns(df, df_postcodes)
df.head()

,unique_id,name,postcode,dataset_x,dataset_y,parsed.postcode,parsed.original,parsed.incode,parsed.outcode,parsed.area,parsed.district,parsed.sub_district,parsed.sector,parsed.unit,parsed.fix_distance,parsed.is_in_ons_postcode_directory
0,1906596,nuclear decommissioning authority nda,ca24 3hu,cordis,cordis,CA24 3HU,ca24 3hu,3HU,CA24,CA,CA24,None,CA24 3,HU,0.0,1.0
1,2123954,south west tourism limited,ex2 5wt,cordis,cordis,EX2 5WT,ex2 5wt,5WT,EX2,EX,EX2,None,EX2 5,WT,0.0,0.0
2,1915686,welsh government,cf10 3nq,cordis,cordis,CF10 3NQ,cf10 3nq,3NQ,CF10,CF,CF10,None,CF10 3,NQ,0.0,1.0
3,2128407,terrasalus limited,le15 9el,cordis,cordis,LE15 9EL,le15 9el,9EL,LE15,LE,LE15,None,LE15 9,EL,0.0,1.0
4,2168344,ol pharma partners ltd,sg4 7dp,cordis,cordis,SG4 7DP,sg4 7dp,7DP,SG4,SG,SG4,None,SG4 7,DP,0.0,1.0

In [6]:
# display df where parsed.postcode is null
df[df["parsed.postcode"].isnull()].head(50)
# df[df[""]]

,unique_id,name,postcode,dataset_x,dataset_y,parsed.postcode,parsed.original,parsed.incode,parsed.outcode,parsed.area,parsed.district,parsed.sub_district,parsed.sector,parsed.unit,parsed.fix_distance,parsed.is_in_ons_postcode_directory
30,1653759,alkane energy uk limited,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
33,1653780,smart moves limited ta city car club,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
34,1653782,mrcmcleanhazel ltd,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
35,1653794,university of the west of england,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
36,1653798,bath north east somerset council,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
37,1653809,powabyke ltd,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
38,1653823,advanced communications information systems ltd,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
39,1653825,first somerset avon ltd,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
40,1653829,advanced transport systems ltd,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
41,1614807,cpl scientific publishing services ltd,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
123,2498949,altera corporation,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
297,1942457,jonathan michael smith,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
320,2168323,elizabeth wager sideview,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
507,1950665,testex ndt limited,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
581,1614374,inlecom systems ltd,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
582,1614383,london metropolitan university global policy i...,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
601,2424779,cloud security alliance europe lbg,eh3 7a,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
627,2124893,spi play europe limited,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
767,1925712,cybrotech limited,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
791,1923842,goodwin steel castings ltd,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
792,1923856,monitor coatings ltd,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
980,1924585,mva consultancy ltd,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
998,1916996,atlantis operations uk limited,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
1062,1924497,link2energy ltd,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
1251,1923123,brighton hove city council,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
1485,1924946,stakeholder forum for a sustainable future lbg,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
1511,1924520,vesuvius uk ltd,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
1556,1963160,therakind ltd,ne 1hf,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
1714,2121721,laser optical engineering limited,le11 3x2,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
1724,2206250,ergomed clinical research limited,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
1759,1924560,duco limited,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
1764,1923339,smart wind limited,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
1765,1923320,oldbaum services limited,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
1766,1923334,bp alternative energy international limited,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
1813,2498533,edwards ltd,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
1893,1924439,seagoe technologies limited,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
1976,2085131,marshall of cambridge aerospace ltd,cbf 5ry,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
2043,1912107,oxford gene technology operations ltd,ox5 pf,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
2163,1923899,alstom ltd,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
2194,1922348,melvyn frank askew,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
2205,1924124,inchcape shipping services holdings limited,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
2206,1924100,shipserv ltd,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
2207,1924102,icap shipping ltd,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
2208,1924104,market opinion research international limited,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
2432,1923436,rapp trans uk ltd,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
2444,1918333,rowe eugene john,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
2479,1924920,strathclyde partnership for transport,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
2480,1924931,alexander dennis limited,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
2482,1924814,smith electric vehicles europe limited,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
2486,1924378,kingspan renewables limited,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN

In [ ]:
# find all rows with postcode.original == "ectified"
# df[df["parsed.original"] == "ectified"]
df[df["parsed.district"] == "EC1"]
df.head(50)

,unique_id,name,postcode,dataset_x,dataset_y,parsed.postcode,parsed.original,parsed.incode,parsed.outcode,parsed.area,parsed.district,parsed.sub_district,parsed.sector,parsed.unit,parsed.fix_distance,parsed.is_in_ons_postcode_directory
0,1906596,nuclear decommissioning authority nda,ca24 3hu,cordis,cordis,CA24 3HU,ca24 3hu,3HU,CA24,CA,CA24,None,CA24 3,HU,0.0,1.0
1,2123954,south west tourism limited,ex2 5wt,cordis,cordis,EX2 5WT,ex2 5wt,5WT,EX2,EX,EX2,None,EX2 5,WT,0.0,0.0
2,1915686,welsh government,cf10 3nq,cordis,cordis,CF10 3NQ,cf10 3nq,3NQ,CF10,CF,CF10,None,CF10 3,NQ,0.0,1.0
3,2128407,terrasalus limited,le15 9el,cordis,cordis,LE15 9EL,le15 9el,9EL,LE15,LE,LE15,None,LE15 9,EL,0.0,1.0
4,2168344,ol pharma partners ltd,sg4 7dp,cordis,cordis,SG4 7DP,sg4 7dp,7DP,SG4,SG,SG4,None,SG4 7,DP,0.0,1.0
5,1917645,forsite diagnostics ltd,yo41 1lz,cordis,cordis,YO41 1LZ,yo41 1lz,1LZ,YO41,YO,YO41,None,YO41 1,LZ,0.0,1.0
6,1907389,st georges hospital medical school,sw17 0re,cordis,cordis,SW17 0RE,sw17 0re,0RE,SW17,SW,SW17,None,SW17 0,RE,0.0,1.0
7,1909146,genetic alliance uk ltd,n1 3qp,cordis,cordis,N1 3QP,n1 3qp,3QP,N1,N,N1,None,N1 3,QP,0.0,1.0
8,2102071,fetal medicine foundation,w1g 6bg,cordis,cordis,W1G 6BG,w1g 6bg,6BG,W1G,W,W1,W1G,W1G 6,BG,0.0,1.0
9,2142093,centre of the cell,e1 2ab,cordis,cordis,E1 2AB,e1 2ab,2AB,E1,E,E1,None,E1 2,AB,0.0,1.0
10,1906028,london school of hygiene and tropical medicine...,wc1e 7ht,cordis,cordis,WC1E 7HT,wc1e 7ht,7HT,WC1E,WC,WC1,WC1E,WC1E 7,HT,0.0,1.0
11,1915298,sirigen limited,bh24 1ap,cordis,cordis,BH24 1AP,bh24 1ap,1AP,BH24,BH,BH24,None,BH24 1,AP,0.0,1.0
12,1915302,fleet bioprocessing limited,rg27 8dh,cordis,cordis,RG27 8DH,rg27 8dh,8DH,RG27,RG,RG27,None,RG27 8,DH,0.0,1.0
13,2058284,kws biotest limited,bs8 1td,cordis,cordis,BS8 1TD,bs8 1td,1TD,BS8,BS,BS8,None,BS8 1,TD,0.0,1.0
14,2142023,dr foster research ltd,ec1a 9la,cordis,cordis,EC1A 9LA,ec1a 9la,9LA,EC1A,EC,EC1,EC1A,EC1A 9,LA,0.0,1.0
15,1907403,dando weiss colucci limited,ba2 9er,cordis,cordis,BA2 9ER,ba2 9er,9ER,BA2,BA,BA2,None,BA2 9,ER,0.0,1.0
16,2058012,biopharma technology ltd,so23 0ld,cordis,cordis,SO23 0LD,so23 0ld,0LD,SO23,SO,SO23,None,SO23 0,LD,0.0,1.0
17,2112007,sagentia group limited,cb22 7gg,cordis,cordis,CB22 7GG,cb22 7gg,7GG,CB22,CB,CB22,None,CB22 7,GG,0.0,1.0
18,2112008,tico europe limited,ct19 6hq,cordis,cordis,CT19 6HQ,ct19 6hq,6HQ,CT19,CT,CT19,None,CT19 6,HQ,0.0,1.0
19,1906478,health protection agency hpa,sw1w 9sz,cordis,cordis,SW1W 9SZ,sw1w 9sz,9SZ,SW1W,SW,SW1,SW1W,SW1W 9,SZ,0.0,1.0
20,1933077,pera innovation limited,le13 opb,cordis,cordis,LE13 0PB,le13 opb,0PB,LE13,LE,LE13,None,LE13 0,PB,-1.0,1.0
21,2001250,enigma diagnostics limited,sp4 0jq,cordis,cordis,SP4 0JQ,sp4 0jq,0JQ,SP4,SP,SP4,None,SP4 0,JQ,0.0,1.0
22,2112238,childrens heart federation,ec2a 3nw,cordis,cordis,EC2A 3NW,ec2a 3nw,3NW,EC2A,EC,EC2,EC2A,EC2A 3,NW,0.0,1.0
23,1906495,department of health,ls2 7ue,cordis,cordis,LS2 7UE,ls2 7ue,7UE,LS2,LS,LS2,None,LS2 7,UE,0.0,1.0
24,2183201,lonza biologics plc,sl1 4dx,cordis,cordis,SL1 4DX,sl1 4dx,4DX,SL1,SL,SL1,None,SL1 4,DX,0.0,1.0
25,1911839,moorfields eye hospital nhs foundation trust,ec1v 2pd,cordis,cordis,EC1V 2PD,ec1v 2pd,2PD,EC1V,EC,EC1,EC1V,EC1V 2,PD,0.0,1.0
26,2182798,ceratium limited,ch48 8ap,cordis,cordis,CH48 8AP,ch48 8ap,8AP,CH48,CH,CH48,None,CH48 8,AP,0.0,1.0
27,1915532,pno consultants limited,sk8 6gn,cordis,cordis,SK8 6GN,sk8 6gn,6GN,SK8,SK,SK8,None,SK8 6,GN,0.0,1.0
28,1906508,liverpool school of tropical medicine,l35qa,cordis,cordis,L3 5QA,l35qa,5QA,L3,L,L3,None,L3 5,QA,0.0,1.0
29,1910840,institute of development studies,bn1 9re,cordis,cordis,BN1 9RE,bn1 9re,9RE,BN1,BN,BN1,None,BN1 9,RE,0.0,1.0
30,1653759,alkane energy uk limited,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
31,2140905,cpl scientific publishing services ltd,rg14 1rz,cordis,cordis,RG14 1RZ,rg14 1rz,1RZ,RG14,RG,RG14,None,RG14 1,RZ,0.0,1.0
32,1923106,delphi diesel systems ltd,ec1a 4dd,cordis,cordis,EC1A 4DD,ec1a 4dd,4DD,EC1A,EC,EC1,EC1A,EC1A 4,DD,0.0,0.0
33,1653780,smart moves limited ta city car club,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
34,1653782,mrcmcleanhazel ltd,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
35,1653794,university of the west of england,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
36,1653798,bath north east somerset council,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
37,1653809,powabyke ltd,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
38,1653823,advanced communications information systems ltd,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
39,1653825,first somerset avon ltd,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
40,1653829,advanced transport systems ltd,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
41,1614807,cpl scientific publishing services ltd,None,cordis,cordis,None,None,None,None,None,None,None,None,None,NaN,NaN
42,1912310,centre of excellence for life sciences ltd,ne12 8bx,cordis,cordis,NE12 8BX,ne12 8bx,8BX,NE12,NE,NE12,None,NE12 8,BX,0.0,1.0
43,1941504,quantumdx group limited,cr8 4ej,cordis,cordis,CR8 4EJ,cr8 4ej,4EJ,CR8,CR,CR8,None,CR8 4,EJ,0.0,1.0
44,1906269,medical research council,w1b 1al,cordis,cordis,W1B 1AL,w1b 1al,1AL,W1B,W,W1,W1B,W1B 1,AL,0.0,0.0
45,2302764,the francis crick institute limited,nw1 1at,cordis,cordis,NW1 1AT,nw1 1at,1AT,NW1,NW,NW1,None,NW1 1,AT,0.0,1.0
46,1908354,london school of economics and political science,wc2a 2ae,cordis,cordis,WC2A 2AE,wc2a 2ae,2AE,WC2A,WC,WC2,WC2A,WC2A 2,AE,0.0,1.0
47,1906915,cancer research uk lbg,e20 1jq,cordis,cordis,E20 1JQ,e20 1jq,1JQ,E20,E,E20,None,E20 1,JQ,0.0,1.0
48,1908441,institute for fiscal studies,wc1e 7ae,cordis,cordis,WC1E 7AE,wc1e 7ae,7AE,WC1E,WC,WC1,WC1E,WC1E 7,AE,0.0,1.0
49,1942760,the sainsbury laboratory,nr47uh,cordis,cordis,NR4 7UH,nr47uh,7UH,NR4,NR,NR4,None,NR4 7,UH,0.0,1.0

In [ ]:
db_api = DuckDBAPI()
# Conver empty lists to null before running...#
completeness_chart(df, db_api=db_api, table_names_for_chart=["dataset"])

alt.LayerChart(...)